<template name="homeBody">
  <div class="container features">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">Are you an API user?</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-magnify"></i>
          <h3 class="feature-title">Discover APIs</h3>
          <p class="feature-title-text">Find and bookmark useful APIs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-auto-fix"></i>
          <h3 class="feature-title">Mix APIs</h3>
          <p class="feature-title-text">Mix APIs from several sources (future)</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-library-books"></i>
          <h3 class="feature-title">Check API documentation</h3>
          <p class="feature-title-text">Documentation viewer available, RAML planned</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-chart-bar"></i>
          <h3 class="feature-title">Track application usage</h3>
          <p class="feature-title-text">View analytics for API calls from your application</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">Are you an API owner?</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-arrow-up"></i>
          <h3 class="feature-title">Publish your APIs</h3>
          <p class="feature-title-text">Make your APIs easily available for developers</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-settings"></i>
          <h3 class="feature-title">Manage your APIs</h3>
          <p class="feature-title-text">Easily manage and configure your API endpoints and access control</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-chart-line"></i>
          <h3 class="feature-title">Track your APIs</h3>
          <p class="feature-title-text">View detailed analytics data for your APIs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="mdi mdi-cloud-check"></i>
          <h3 class="feature-title">Web-based</h3>
          <p class="feature-title-text">Centralized management for hundreds of users</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Getting started</h2>
          <p class="lead">Just create an account and be on your way! The developer dashboard offers you a one-stop location to discover APIs, track your application API usage, and more.</p>
          {{#if User}}
          {{else}}
          <p class="lead"><a href="/sign-up">Sign up</a> to see all features.</p>
          {{/if}}
        </div>
        <div class="col-lg-4 col-lg-push-1 col-sm-6">
          <i class="mdi mdi-view-dashboard"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <i class="mdi mdi-chart-areaspline"></i>
        </div>
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Reach out to developers</h2>
          <p class="lead">Apinf provides you with a unified, simple interface for publishing your APIs to the developer community and performing complex API management tasks. It allows you to gain a better understanding of your API trafﬁc.</p>
          <p class="lead"><a href="#" class="contact-us-link">Contact us</a> for more information.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-c">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Completely open source</h2>
          <p class="lead">Apinf is powered by API Umbrella and builds a dashboard on top of the
            API Umbrella features. The solution is fully open source licensed with MIT.
            It is written in Meteor.js and D3. We like to collaborate, to listen to our
            users and want to encourage people to become contributors.</p>
          <p class="lead">Find us in <a href="https://github.com/apinf/api-umbrella-dashboard">Github</a>, <a href="https://twitter.com/APInf_Suomi">Twitter</a> and <a href="https://www.facebook.com/apinf">Facebook</a>.</p>
        </div>
        <div class="col-lg-4 col-lg-push-1 col-sm-6">
          <img class="img-responsive" src="img/opensource.png" alt="We are Open Source">
        </div>
      </div>
    </div>
  </div>
  <div id="contact-us" class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">Contact Us</h2>
        <hr class="primary">
        <h4 class="text-muted">Contact us to ask anything.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-push-3">
        {{> contactForm}}
      </div>
    </div>
  </div>
</template>
