<template name="homeBody">
  <div class="container features">
    <div class="row">
      {{> latestApiBackends limit = 8 }}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">{{_ "feature_Section_Heading1"}}</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-search"></i>
          <h3 class="feature-title">{{_ "feature_Title1"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title1_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-magic"></i>
          <h3 class="feature-title">{{_ "feature_Title2"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title2_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-book"></i>
          <h3 class="feature-title">{{_ "feature_Title3"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title3_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-bar-chart"></i>
          <h3 class="feature-title">{{_ "feature_Title4"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title4_Text"}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">{{_ "feature_Section_Heading2"}}</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-arrow-up"></i>
          <h3 class="feature-title">{{_ "feature_Title5"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title5_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-cog"></i>
          <h3 class="feature-title">{{_ "feature_Title6"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title6_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-line-chart"></i>
          <h3 class="feature-title">{{_ "feature_Title7"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title7_Text"}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="feature-box">
          <i class="fa fa-cloud"></i>
          <h3 class="feature-title">{{_ "feature_Title8"}}</h3>
          <p class="feature-title-text">{{_ "feature_Title8_Text"}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{_ "section1_Heading"}}</h2>
          <p class="lead">{{_ "section1_Text"}}</p>
          {{#if User}} {{else}}
          <p class="lead"><a href='/sign-up'>{{_ "section1_Text_Extra"}}</a></p>
          {{/if}}
        </div>
        <div class="col-lg-4 col-lg-push-1 col-sm-6">
          <i class="fa fa-tachometer"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <i class="fa fa-bullhorn"></i>
        </div>
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{_ "section2_Heading"}}</h2>
          <p class="lead">{{_ "section2_Text"}}</p>
          <p class="lead"><a href='#' class='contact-us-link'>{{_ "section2_Text_Extra"}}</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-section-c">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{_ "section3_Heading"}}</h2>
          <p class="lead">{{_ "section3_Text"}}</p>
          <p class="lead">
            {{_ "section3_Text_Extra"}}
            {{#each network in branding.socialMedia }}
            <a href="{{ network.url }}" target="_blank">
              {{ network.name }}
            </a>
            {{/each}}
            <a href='http://community.apinf.io'>Apinf Community</a>
          </p>
        </div>
        <div class="col-lg-4 col-lg-push-1 col-sm-6">
          <img class="img-responsive" src="img/opensource.png" alt="We are Open Source">
        </div>
      </div>
    </div>
  </div>
  <div id="contact-us" class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="feature-section-heading">{{_ "section_ContactUs"}}</h2>
        <hr class="primary">
        <h4 class="text-muted">{{_ "section_ContactUs_Text"}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-push-3">
        {{> contactForm}}
      </div>
    </div>
  </div>
</template>
