<template name="importApiConfiguration">
  <form id="apiConfigurationUploadForm" class="form" method="post">

    <legend>Import API Configuration</legend>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="form-group">
          <label class="control-label" for="apiCofigurationFile">API Configuration File</label>
          <input id="apiCofigurationFile" name="apiCofigurationFile" class="input-file" type="file" >
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12">
        <div id="editor">

        </div>
      </div>
    </div>
    <div class="btn-divider"></div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Upload</button>
    </div>
  </form>
  <hr>
  {{> flashMessages}}
</template>
