/* APIKA 
.home-layout {

  .navigation-bar {
    background: #f2f2f2;
    -webkit-box-shadow: 0 0.25em 0 0 rgba(0,0,0,.15);
    box-shadow: 0 0.25em 0 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 9;
  }

  .navbar-default .navbar-nav > li > a {
    color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: #e02271;
    text-decoration: underline;
  }

  .search-box {
    margin-bottom: 1.875em;
    background: #e02271;
    padding: 1.25em 1.875em;
    text-align: center;
  }

  .search-field-input {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px;
    color: rgb(97, 101, 104);
    height: 2.688em;
    max-width: 100%;
    min-height: 2.875em;
    text-align: left;
    width: 43.144em;
    border: 0px none rgb(97, 101, 104);
    border-radius: 4px 4px 4px 4px;
    margin: 0.188em 1.105em 0px 0px;
    outline: rgb(97, 101, 104) none 0px;
    padding: 0.188em 0.625em;
    transition: box-shadow 0.2s ease 0s;
  }

  .search-form-button {
    color: rgb(255, 255, 255);
    height: 2.875em;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0.188em solid rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    padding: 0.563em 1em;
    font-size: 1em;
    font-weight: bold;
  }

  .search-form-button:hover {
    background-color: #fff;
    color: #e02271;
  }

  .feature-box .mdi {
    background: #e02271;
    color: #fff;
    border-radius: 50%;
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin: 0 auto;
    padding-top: 0.75em;
    text-align: center;
  }

  hr.primary {
    max-width: 3.12em;
    border-color: #0d92ff;
    border-width: 0.188em;
    margin-bottom: 2em;
  }
}
*/
