/* Bootstrap */
@import "/client/style/bootstrap-variables.less";

// APIKA
.home-layout {
  .search-field-input {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 2px;
    color: rgb(97, 101, 104);
    max-width: 100%;
    min-height: 2.875em;
    text-align: left;
    width: 43.144em;
    border: 0px none rgb(97, 101, 104);
    border-radius: 4px 4px 4px 4px;
    margin: 0.188em 1.105em 0px 0px;
    outline: rgb(97, 101, 104) none 0px;
    padding: 0.188em 0.625em;
    transition: box-shadow 0.2s ease 0s;
  }

  .search-form-button {
    height: 2.875em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    border: 0.188em solid rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    padding: 0.563em 1em;
    margin-top: 0.2em;
  }

  .feature-box .mdi {
    background: @brand-primary;
    border-radius: 50%;
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin: 0 auto;
    padding-top: 0.75em;
    text-align: center;
  }

}
