<template name="feedbackForm">
  <button type="button" class="btn btn-info btn-sm pull-right feedback-form-button" data-toggle="modal" data-target="#feedbackForm" data-backdrop="static" data-keyboard="false"><i class="fa fa-comments-o"></i>&nbsp;Send feedback</button>
  <div class="modal fade" id="feedbackForm" tabindex="-1" role="dialog" aria-labelledby="feedbackFormLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="feedbackFormLabel">Send feedback or report a problem</h4>
        </div>
        <div class="modal-body">
          <p>We welcome problem reports, feature ideas and general comments.</p>
          {{> quickForm collection="Feedback" id="feedback" type="insert" omitFields="authorId, createdAt, apiBackendId"}}
        </div>
      </div>
      {{> flashMessages}}
    </div>
  </div>
</template>
