/** CSS for manage container width **/

#resources_container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  #resources_container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #resources_container {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  #resources_container {
    width: 1010px;
  }
}
/** CSS for Authorize button and modal form **/
.swagger-section .authorize-wrapper {
  margin: 15px 0 10px;
}
.swagger-section .authorize-wrapper_operation {
  float: right;
}
.swagger-section .authorize__btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.swagger-section .authorize__btn_operation:hover .authorize-scopes {
  display: block;
}
.swagger-section .authorize-scopes {
  position: absolute;
  margin-top: 20px;
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  font-size: 13px;
  max-width: 300px;
  line-height: 30px;
  color: black;
  padding: 5px;
}
.swagger-section .authorize-scopes .authorize__scope {
  text-decoration: none;
}
.swagger-section .authorize__btn_operation {
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/explorer_icons.png) no-repeat;
}
.swagger-section .authorize__btn_operation_login {
  background-position: 0 0;
  width: 18px;
  margin-top: -6px;
  margin-left: 4px;
}
.swagger-section .authorize__btn_operation_logout {
  background-position: -30px 0;
  width: 18px;
  margin-top: -6px;
  margin-left: 4px;
}
.swagger-section #auth_container {
  color: #fff;
  display: inline-block;
  border: none;
  padding: 5px;
  width: 87px;
  height: 13px;
}
.swagger-section #auth_container .authorize__btn {
  color: #fff;
}
.swagger-section .auth_container {
  padding: 0 0 10px;
  margin-bottom: 5px;
  border-bottom: solid 1px #CCC;
  font-size: 0.9em;
}
.swagger-section .auth_container .auth__title {
  color: #547f00;
  font-size: 1.2em;
}
.swagger-section .auth_container .basic_auth__label {
  display: inline-block;
  width: 60px;
}
.swagger-section .auth_container .auth__description {
  color: #999999;
  margin-bottom: 5px;
}
.swagger-section .auth_container .auth__button {
  margin-top: 10px;
  height: 30px;
}
.swagger-section .auth_container .key_auth__field {
  margin: 5px 0;
}
.swagger-section .auth_container .key_auth__label {
  display: inline-block;
  width: 60px;
}