<template name="apiBacklog">
    <div class="backlog-container">
        <h1>
            Backlog
            <button type="button"
                    class="btn btn-info pull-right"
                    data-toggle="modal"
                    data-target="#apiBacklogFormModal"
                    data-backdrop="static"
                    data-keyboard="true">
                Add backlog item
            </button>
        </h1>
        {{> apiBacklogForm }}
        <hr/>
        {{> apiBacklogList }}
    </div>
</template>
