<template name="apiBacklogList">
    {{#if hasApiBacklogs}}
        {{#each apiBacklogs}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>
                            <div class="{{ priorityColorClass }}"></div>
                            {{title}}
                        </b>
                    </div>
                    <div class="panel-body">
                        <p>{{details}}</p>
                        <div style="border-top: 1px solid #eee;padding-top: 7px;">
                            <i>
                                {{#if isOwner}}
                                    By <b>You</b>
                                {{/if}}
                                {{relativeTime}}
                            </i>
                            <button type="button" class="btn btn-danger btn-xs pull-right delete-backlog">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
        {{/each}}
    {{else}}
        <i>Nothing found so far.</i>
    {{/if}}
</template>
