<template name="apiBacklogList">
    {{#if hasApiBacklogs}}
        {{#each apiBacklogs}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>{{title}}</b>
                        <i class="pull-right">{{relativeTime}}</i>
                    </div>
                    <div class="panel-body">
                        <p>{{details}}</p>
                        <p>priority: <b>{{priority}}</b></p>
                    </div>
                </div>
        {{/each}}
    {{else}}
        <i>Nothing found so far.</i>
    {{/if}}
</template>
