<template name="search">
  <div class="page-header">
    <h1>{{_ "searchPage-pageHeader" }}</h1>
  </div>

  <div class="row">
    <h2>{{_ "searchPage-currentQueryHeader" }}</h2>
    <form id="search-form">
      <div>
        <input
          type="text"
          placeholder="{{_ 'searchPage-searchForm-placeholderText' }}"
          class="form-control"
          id="search-text" />
      </div>
    </form>
    <p class="help-block">{{_ "searchPage-searchForm-helpText" }}</p>
  </div>

  <div class="row">
  {{#if searchResults}}
    <h2>{{_ "searchPage-searchResultsHeader" }} <small><em>({{ searchResultsCount }})</em></small></h2>

    {{#each searchResults }}
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="/api/{{_id}}">{{ name }}</a>
          <i class="pull-right">{{_ "searchPage-addedPrefix" }} <b>{{ relative_created_at }}</b></i>
        </div>
        <div class="panel-body">
          {{ backend_host }}
        </div>
      </div>
    {{/each}}
  {{else}}
      <i>{{_ "searchPage-noResults" }}</i>
  {{/if }}
  </div>
</template>
