<template name="search">

    <div>

        <h1>Search APIs</h1>

        <form id="search-form">
            <div>
                <input type="text" placeholder="Search.." class="form-control" id="search-text" />
            </div>
        </form>

        <hr/>
        {{#if searchResults}}

            <h3>Search results <b>({{searchResultsCount}})</b>:</h3>

            {{#each searchResults }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="/api/{{_id}}">{{name}}</a>
                    </div>
                    <div class="panel-body">
                        <i>{{backend_host}}</i>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <i>Nothing found.</i>
        {{/if }}

    </div>

</template>
