/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.statistic-block a {
  color: inherit;
}

.api-view {
  background-color: #e5eef4;
  min-height: 100vh;
}

.api-view-card {
  border-radius: 0.5em;
  background-color: white;
  padding: 1em 1.5em;
  min-height: 330px;
}

.api-view-card.table-view {
  min-height: 100px;
}

.mdi-trending-up, .mdi-trending-down {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: 2px;
}

.arrow-up {
  color: #0F9D58;
}

.arrow-down {
  color: #F44336;
}

.arrow-up_time {
  color: #F44336;
}

.arrow-down_time {
  color: #0F9D58;
}

.dashboard-table-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ecf3f8;
  margin-left: -20px;
  margin-right: -20px;
}

.dashboard-table-row:hover {
  background-color: rgba(229, 238, 244, 0.4);
  border-bottom: 1px solid transparent;
}

.dashboard-table-row.open {
  background-color: #ecf3f8;
}

.statistic-line {
  cursor: pointer;
}

.overview-col-title {
  font-size: 1.6em;
}

.overview-body {
  padding: 1em 0;
}

.overview-line {
  padding: 0.5em 1.5em;
}

.request-number,
.response-time,
.unique-users {
  font-size: 16px;
}

.summary-number-label {
  font-size: 12px;
  display: block;
  color: #6d859e;
  padding-bottom: 5px;
}

// .request-number {
//   width: 5.2em;
// }
//
// .response-time {
//   width: 5em;
// }
//
// .unique-users {
//   width: 1.5em;
// }

.table-statistic td {
  word-break: break-all;
}

.toolbar-select,
#date-range-picker {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.statistic-title {
  background-color: #f5f5f5;
  font-weight: bold;
}

.overview-help-text {
  font-style: italic;
  margin-top: 1em;
}

#request-path-number, request-path-time {
  width: 100%;
}

.request-paths-block {
  width: 90%;
}

h1.page {
  margin: 0;
  line-height: 30px;
}

.search {
  position: relative;

  .form-control {
    position: relative;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
    height: 33px;
    border: 1px solid #C1C7CD;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  input {
    text-indent: 20px;
    outline: none;
    color: #333;
  }

  .fa-search {
    position: absolute;
    top: 0.62em;
    left: 0.85em;
    font-size: 14px;
    color: rgb(99, 114, 130);
    z-index: 1;
  }
}

select.form-control {
  height: 33px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5c617b;
  background-color: #fff;
  background-image: none;
  border: 1px solid #C1C7CD;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
