.panel img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding-bottom: 0%;
}

.responsive-video {
position: relative;
}

.responsive-video iframe {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 992px) {
  .responsive-video iframe {
    width: 100%;
  }
}

/* Masonry starts */
*, *:before, *:after {
  box-sizing:
  border-box !important;
}

.massn {
  -moz-column-width: 20em;
 -webkit-column-width: 20em;
 column-width: 20em;
 -moz-column-gap: .25em;
 -webkit-column-gap: .25em;
 column-gap: .25em;
}

.panel {
 display: inline-block;
 margin: .5em;
 padding: 0;
 width: 98%;
}
/* Masonry ends */
.oembedall-container a{
  display: none;
}
.oembedall-container span{
  display: none;
}

.oembedall-container{
  margin-top: -30px;
}
