/*
Make sure iframe is full height and width
source: http://stackoverflow.com/a/27853830/1191545
*/
iframe {
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  width: 100%;
  height: 100vh;
}

.s-alert-box {
  z-index: 10000
}
