<template name="apiSettings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "apiSettings_panelTitleAbout" }}
      </h2>
    </div>
    <div class="panel-body">
      <h3>
        {{_ "apiSettings_uploadLogo_heading" }}
      </h3>
      <p>
        {{_ "apiSettings_uploadLogoText" }}
      </p>
      {{> uploadApiLogo api=api }}
      <hr class="panel-hr" />
      {{#autoForm collection=formCollection doc=api id="apiBackendForm" type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='description'}}
      {{> afQuickField name='url'}}
      <div id="form-buttons">
        <button type="submit" class="btn btn-success" id="save-settings">
          {{_ "viewApiSettigs_saveButton_text" }}
        </button>
      </div>
      {{/autoForm}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        Visibility
      </h2>
    </div>
    <div class="panel-body">
      <form>
        <ul id="visibility-options" class="list-unstyled">
          <li>
            <input type="radio" name="visibility-option" value="public" checked>
            <span>
              Make API Public
            </span>
            <p class="help-block">
              The API will be accessible to general audience
              from API catalog and respective API profile.
            </p>
          </li>
          <li>
            <input type="radio" name="visibility-option" value="limited-public">
            <span>
              Make API visible to specific people
            </span>
            <p class="help-block">
              Add email address for each user you wish to make
              your API available to access.
            </p>
          </li>
          <li>
            <input type="radio" name="visibility-option" value="private">
            <span>
              Make API Private
            </span>
            <p class="help-block">
              Only API owner can access your API from API catalog
              and respective API profile.
            </p>
          </li>
        </ul>
      </form>
      <a
         href="#"
         class="btn btn-success">
         {{_ "viewApiSettigs_saveButton_text" }}
      </a>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "apiSettings_panelTitleManage" }}
      </h2>
    </div>
    <div class="panel-body">
      <h3>{{_ "apiSettings_deleteApiTitle" }}</h3>
      <p>
        {{_ "apiSettings_deleteApiText" }}
      </p>
      <a
         href="#"
         class="btn btn-danger"
         id="delete-api">
        {{_ "apiDetails_deleteButton"}}
      </a>
    </div>
  </div>
</template>
