<template name="viewApiBackendSettings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "viewApiBackendSettings_panelTitleAbout" }}
      </h2>
    </div>
    <div class="panel-body">
      <h3>{{_ "editApiBackendForm-uploadLogo" }}</h3>
      <p>
        {{_ "viewApiBackendSettings_uploadLogoText" }}
      </p>
      {{> uploadApiLogo apiBackend=apiBackend }}
      <hr class="panel-hr" />
      {{#autoForm collection=formCollection doc=apiBackend id="apiBackendForm" type="update"}}
      {{> afQuickField name='name'}}
      {{> afQuickField name='description'}}
      <div id="form-buttons">
        <button type="submit" class="btn btn-success" id="save-settings">Save</button>
      </div>
      {{/autoForm}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "viewApiBackendSettings_panelTitleEdit" }}
      </h2>
    </div>
    <div class="panel-body">
      <h3>{{_ "viewApiBackendSettings_editApiSettingsTitle" }}</h3>
      <p>
        {{_ "viewApiBackendSettings_editApiSettingsText" }}
      </p>
      <a
         href="{{ pathFor 'editApi' _id=apiBackend._id }}"
         class="btn btn-primary">
        {{_ "view_ApiBackend_Details_editButtonText" }}
      </a>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "viewApiBackendSettings_panelTitleManage" }}
      </h2>
    </div>
    <div class="panel-body">
      <h3>{{_ "viewApiBackendSettings_deleteApiTitle" }}</h3>
      <p>
        {{_ "viewApiBackendSettings_deleteApiText" }}
      </p>
      <a
         href="#"
         class="btn btn-danger"
         id="deleteModal">
        {{_ "viewApiBackendDetails_deleteButton"}}
      </a>
    </div>
  </div>
</template>
