/* Bootstrap */
@import "/core/client/style/bootstrap-variables.less";

.api-card-author {
  display: block;
  font-size: 0.9em;
  color: #777;
}
.api-card-star-average {
  color: @gray;
}
.api-card-bookmark {
  .api-card-bookmark-number {
    color: @gray;
    display: inline;
  }
}
