<template name="viewApiBackend">
  <h1>View API backend</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{{apiBackend.name}}</h1>
  </div>
  <div class="panel-body">
    <p><b>Backend Protocol: </b>{{apiBackend.backend_protocol}}</p>
    <p><b>Balance Algorithm: </b>{{apiBackend.balance_algorithm}}</p>
    <h2>Servers</h2>
    <p><b>Backend: </b>{{apiBackend.backend_host}}</p>
    <p><b>Frontend: </b>{{apiBackend.frontend_host}}</p>
    {{#each apiBackend.url_matches}}
    <h2>URL Matchers</h2>
    <p><b>Backend prefix: </b>{{backend_prefix}}</p>
    <p><b>Frontend prefix: </b>{{frontend_prefix}}</p>
    {{/each}}
  </div>
</div>

</template>
