.sort-options-select {
  padding-left: 0.5em;
}

.filter-options-menu {
  padding-left: 1em;
}

.sort-filter-toolbar {
  padding-left: 0;
}

.sort-filter-toolbar-title {
  margin-left: 0;
}

.sort-options-form {
  display: inline;
}

#catalogue-toolbar {
  margin-left: 0.93em;
  margin-right: 0.93em;
}

.catalogue-main-title {
  margin-left: 0.63em;
}
