<template name="sidebar">
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">{{_ "masterLayout_sidebar_Menu"}}</li>
        {{# if currentUser }}
        <li class="{{isActiveRoute 'dashboard'}}">
          <a href="/dashboard"><i class="fa fa-bar-chart"></i><span>{{_ "masterLayout_sidebar_Analytics"}}</span></a>
        </li>
        <li class="{{isActiveRoute 'addApiBackend-simple'}} {{isActiveRoute 'manageApiBackends'}} treeview">
          <a href="#">
            <i class="fa fa-code"></i>
            <span>{{_ "masterLayout_sidebar_APIBackends"}}</span>
          </a>
          <ul class="treeview-menu">
            <li class="{{ isActiveRoute 'addApiBackend-wizard' }} treeview">
              <a href="{{ pathFor route='addApiBackend-wizard' }}">
                <i class="fa fa-circle-o"></i>
                <span>{{_ "masterLayout_sidebar_AddAPIBackend"}}</span>
              </a>
            </li>
            {{# if isInRole 'manager' }}
            <li class="{{isActiveRoute 'manageApiBackends'}} treeview">
              <a href="{{pathFor route='manageApiBackends'}}">
                <i class="fa fa-circle-o"></i>
                <span>{{_ "masterLayout_sidebar_ManageAPIBackends"}}</span>
              </a>
            </li>
            {{/ if }}
          </ul>
        </li>
        {{ /if }}
        <li class="{{isActiveRoute 'catalogue'}}">
          <a href="/catalogue"><i class="fa fa-list-alt"></i><span>{{_ "masterLayout_sidebar_Catalogue"}}</span></a>
        </li>
        {{# if currentUser }}
          {{# if isInRole 'admin' }}
            <li class="{{isActiveRoute 'accountsAdmin'}}">
              <a href="{{pathFor route='accountsAdmin'}}"><i class="fa fa-users"></i><span>{{_ "masterLayout_sidebar_Users"}}</span></a>
            </li>
          {{/ if }}
        {{/ if }}
      </ul>
    </section>
  </aside>
</template>
