.main-sidebar span {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  -webkit-word-wrap: break-word;
  -webkit-word-break: break-all;
  -webkit-white-space: normal;
  -moz-word-wrap: break-word;
  -moz-word-break: break-all;
  -moz-white-space: normal;
  -ms-word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-white-space: normal;
}
