/* Bootstrap */
@import "/client/style/bootstrap-variables.less";

/* Bootstrap labels colors overriding */

.label-primary {
  background-color: @brand-primary;
}

.label-success {
  background-color: @brand-success;
}

.label-info {
  background-color: @brand-info;
}

.label-warning {
  background-color: @brand-warning;
}

.label-danger {
  background-color: @brand-danger;
}
