<template name="feedbackItem">
  <div class="feedback-page">
    <div class="feedback">
      <div class="feedback-content">
        <h1>{{ topic }}</h1>
        <span class="user-name"><strong>{{ messageType }}</strong>&nbsp;submitted by&nbsp;<strong>{{ niceName author }}</strong>, </span>
        <span class="feedback-date">{{ createdAt }}</span>
        <div class="row feedback-message">
          <div class="col-lg-8">
            <p class="message-body">{{ message }}</p>
            <hr class="feedback-hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
