# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and CoffeeScript files
[*.{js,coffee,ts}]
charset = utf-8
indent_style = space
indent_size = 2

# Handlebars and jade templates
[*.{html,jade}]
charset = utf-8
indent_style = space
indent_size = 2

# CSS styles
[*.{css, less}]
charset = utf-8
indent_style = space
indent_size = 2

[core/**/*.i18n.json]
charset = utf-8
indent_style = space
indent_size = 4
