node_modules
public
core/client/lib/bootstrap-select/*
core/client/lib/chartsjs/*
apis/client/profile/visibility/lib/bootstrap-switch.js
/dashboard/client/charts/filtering/datepicker/
/dashboard/client/charts/filtering/selectpicker/


######################################################################
##                       Temporarily ignored                        ##
######################################################################
## We want to lint all those files                                  ##
## Please remove the line on this file if you are changing the file ##
######################################################################
proxies/api_umbrella/collections/api_umbrella_admins.js
proxies/api_umbrella/collections/api_umbrella_users.js
proxies/api_umbrella/collections/server/api_umbrella_admins_publications.js
proxies/api_umbrella/collections/server/api_umbrella_users_publications.js
proxies/client/form/autoform.js
proxies/client/form/validation.js
proxies/client/lib/router.js
proxies/client/proxyItem/proxyItem.js
proxies/collection/index.js
proxies/collection/server/publications.js
proxies/helper_functions/api_umbrella.js
proxies/server/methods/api_umbrella.js
users/client/account/account.js
users/client/account/password/autoform.js
users/client/lib/accounts_config.js
users/collection/roles_schema.js
users/collection/server/publications.js
users/collection/users_permissions.js
users/server/accounts_hooks.js
users/server/login_verify.js
users/server/methods.js
users/server/startup_roles.js
