{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 7
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always"
      }
    ]
  }
}
