node_modules
public
core/client/lib/bootstrap-select/*
core/client/lib/chartsjs/*
apis/client/profile/visibility/lib/bootstrap-switch.js
/dashboard/client/charts/filtering/datepicker/
/dashboard/client/charts/filtering/selectpicker/


######################################################################
##                       Temporarily ignored                        ##
######################################################################
## We want to lint all those files                                  ##
## Please remove the line on this file if you are changing the file ##
######################################################################
proxies/api_umbrella/collections/api_umbrella_admins.js
proxies/api_umbrella/collections/api_umbrella_users.js
proxies/api_umbrella/collections/server/api_umbrella_admins_publications.js
proxies/api_umbrella/collections/server/api_umbrella_users_publications.js
proxies/client/form/autoform.js
proxies/client/form/validation.js
proxies/client/lib/router.js
proxies/client/proxyItem/proxyItem.js
proxies/collection/index.js
proxies/collection/server/publications.js
proxies/helper_functions/api_umbrella.js
proxies/server/methods/api_umbrella.js
proxy_backends/client/form/autoform.js
proxy_backends/client/form/form.js
proxy_backends/client/methods/convert_to_apiUmbrella_object.js
proxy_backends/client/methods/delete_proxy_backend.js
proxy_backends/client/modal_form/remove_selected_proxy/remove_selected_proxy.js
proxy_backends/collection/apiUmbrellaSchema.js
proxy_backends/collection/helpers.js
proxy_backends/collection/index.js
proxy_backends/collection/permissions.js
proxy_backends/collection/regex.js
proxy_backends/collection/schema.js
proxy_backends/collection/server/publications.js
proxy_backends/server/methods.js
ratings/client/rating.js
ratings/collection/index.js
ratings/collection/permissions.js
ratings/collection/schema.js
ratings/collection/server/publications.js
search/client/lib/router.js
search/client/search.js
search/server/publications.js
settings/collection/permissions.js
settings/collection/server/publications.js
settings/server/methods.js
setup/client/modal.js
setup/server/methods.js
status/client/lib/router.js
status/client/status.js
status/server/status.js
users/client/account/account.js
users/client/account/password/autoform.js
users/client/lib/accounts_config.js
users/collection/roles_schema.js
users/collection/server/publications.js
users/collection/users_permissions.js
users/server/accounts_hooks.js
users/server/login_verify.js
users/server/methods.js
users/server/startup_roles.js
