apis/client/profile/visibility/lib/bootstrap-switch.js
core/client/lib/bootstrap-select/*
core/client/lib/chartsjs/*
dashboard/client/charts/filtering/datepicker/
dashboard/client/charts/filtering/selectpicker/
node_modules/
public/
scripts/
