{
  "env": {
    "browser": true,
    "jquery": true,
  },
  "parser": "babel-eslint",
    "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 7
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb-base",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "arrow-body-style": [
      2,
      "always"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "func-names": [
      "error",
      "never"
    ],
    "import/no-extraneous-dependencies": 0,
    "meteor/no-session": [
      0
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-underscore-dangle": [
      2,
      {
        "allow": ["_id", "__", "_initialized", "_config", "_debug", "_d"]
      }
    ],
    "no-negated-condition": [
      "error",
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "always"
      }
    ],
  }
}
