sudo: required
language: node_js
node_js:
- '0.12'
before_install:
- openssl aes-256-cbc -K $encrypted_663f9d0ad0b4_key -iv $encrypted_663f9d0ad0b4_iv
  -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- curl https://install.meteor.com/ | sh
- npm install -g mupd
script:
- mupd deploy
