{
  "apinf": {
    "host": "https://example.com/"
  },
  "apiUmbrella": {
    "apiKey": "xxx",
    "authToken": "xxx",
    "baseUrl": "https://example.com/api-umbrella/",
    "host": "https://example.com"
  },
  "mail": {
    "username": "xxx",
    "password": "xxx"
  },
  "elasticsearch": {
    "host": "http://example.com:14002/"
  },
  "githubConfiguration": {
    "clientId" : "xxx",
    "secret" : "xxx"
  }
}
