<template name="latestApiBackends">
  {{#if latestBackends}}
    <h2 class="feature-section-heading">{{_ "latest-Api-Backends-Heading"}}</h2>
    {{#each latestBackends }}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3><a href="/api/{{_id}}">{{name}}</a></h3>
                    <div>
                      <i>Added <b>{{relative_created_at}}</b></i>
                    </div>
                    <p>Backend host: {{backend_host}}</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
  {{else}}
    <i>{{_ "latest-Api-Backends-NotFound"}}</i>
  {{/if }}
</template>
