<template name="latestApiBackends">
  {{#if latestBackends}}
    <h2 class="latest-apis-heading">{{_ "latest-Api-Backends-Heading"}}</h2>
    {{#each latestBackends }}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail api-box">
              <h3><a href="/api/{{_id}}">{{name}}</a></h3>
              <div>
                <i>Added <b>{{relative_created_at}}</b></i>
              </div>
              <div class="api-buttons">
                <a href="/api/{{_id}}" class="btn btn-default">More Info</a>
              </div>
            </div>
        </div>
    {{/each}}
  {{else}}
    <i>{{_ "latest-Api-Backends-NotFound"}}</i>
  {{/if }}
</template>
