.latest-apis-heading {
  color: #212121;
  margin-top: 2em;
  margin-left: 0.5em;
}

.date-floatright {
  float: right;
}

.api-box {
  padding-left: 1em;
}

.api-buttons {
  margin: 1em;
  margin-left: 0em;
}
