<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardSummaryStatisticNoData">
  <div class="row">
    <div class="col-md-3">
      {{ proxyBackend.apiName }}
    </div>
    <div class="col-md-3">
      <span class="request-number">
        0
      </span>
    </div>
    <div class="col-md-3">
      <span class="response-time">
        0 ms
      </span>
    </div>
    <div class="col-md-3">
      <span class="unique-users">
        0
      </span>
    </div>
  </div>
</template>
