<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardSummaryStatistic">
  {{# if analyticsData }}
    <!-- Table head -->
    <h4>
      {{ tableTitle }} ({{ analyticsData.length }})
    </h4>

    <div class="dashboard-table-row statistic-title">
      <div class="row">
        <div class="col-xs-3">
          {{_ 'dashboardSummaryStatistic_columnTitle_apiName' }}
        </div>
        <div class="col-xs-3">
          {{_ 'dashboardSummaryStatistic_columnTitle_requestsNumber' }}
        </div>
        <div class="col-xs-3">
          {{_ 'dashboardSummaryStatistic_columnTitle_responseTime' }}
        </div>
        <div class="col-xs-3">
          {{_ 'dashboardSummaryStatistic_columnTitle_users' }}
        </div>
      </div>
    </div>

    <div class="statistic-block">
      <!-- Table body -->
      {{# each dataset in sortedAnalyticsData }}
        {{# with dataset }}
          <div data-id="{{ proxyBackendId }}" class="dashboard-table-row statistic-line">
            <div class="row">
              <div class="col-xs-3">
                {{ apiName }}
              </div>
              <div class="col-xs-3">
                <span class="request-number">
                  {{ requestNumber }}
                </span>
                <div class="{{ arrowDirection 'requests' }}"></div>
                <span class="{{ textColor 'requests' }}">
                  {{ percentages 'requests' }}
                </span>
              </div>
              <div class="col-xs-3">
                <span class="response-time">
                  {{ medianResponseTime }} ms
                </span>
                <div class="{{ arrowDirection 'time' }}"></div>
                <span class="{{ textColor 'time' }}">
                  {{ percentages 'time' }}
                </span>
              </div>
              <div class="col-xs-3">
                <span class="unique-users">
                  {{ avgUniqueUsers }}
                </span>
                <div class="{{ arrowDirection 'users' }}"></div>
                <span class="{{ textColor 'users' }}">
                  {{ percentages 'users' }}
                </span>
              </div>
            </div>
          </div>
        {{/ with }}
        {{# if displayOverview dataset.proxyBackendId }}
          {{> dashboardOverviewStatistic dataset=dataset prefix=dataset.prefix
            overviewChartResponse=overviewChartResponse
          }}
        {{/ if }}
      {{/ each}}
    </div>
  {{/ if }}
</template>
