<template name="organizationProfile">
    {{# if Template.subscriptionsReady }}
      {{> organizationProfileHeader organization=organization }}
    <div class="container">
      <!--container-fluid addes padding-left -->
      <div class="container-fluid row">
        <label class="h3">
          {{_ 'organizationProfile_bigText_apisCount'  }}
        </label>
        <label>
          {{_ 'organizationProfile_smallText_apisCount' managedApisCount}}
        </label>
      </div>
      {{> catalogueGrid apis=managedApis }}
    </div>
    {{/if}}
</template>
