.search-input-group .input-group-addon {
  background: #fff !important;
}

/* Safari fix */
.main-navbar-search .input-group-addon {
  padding: 5px 12px;
}

.search-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.search-input-group button {
  border: 0;
  background: transparent;
}

.search-icon {
  color: #999;
}
