<template name="viewOrganizationLogo">
  {{# if organizationLogoExists }}
  <div class="profile-img-container">
    <img
      src="{{ uploadedOrganizationLogoLink }}"
      class="img-thumbnail img-circle img-responsive"
    />
    <a href="#"><span class="fa fa-camera organization-file-browse"></span></a>
  </div>
  {{ else }}
  <div class="profile-img-container">
    <img
      src="/img/placeholder-logo.jpg"
      class="img-thumbnail img-circle img-responsive"
    />
    <a href="#"><span class="fa fa-camera organization-file-browse"></span></a>
  </div>
  {{/ if }}
</template>
