<template name="viewApiBackendPageHeader">
  <div class="page-head-topblock">
    <div class="container">
      <div class="row">
        <div class="col-md-8 page-head-infoblock">
          {{> viewApiLogo }}
          <h1 class="api-name">
            {{ apiBackend.name }}
            {{> viewApiBackendStatus apiBackend=apiBackend width="0.4" }}
          </h1>
          <ul class="list-inline view-api-meta-details">
            <li>
              <i class="fa fa-user"></i>
              {{ apiBackend.getApiManagersByName }}
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="row">
            {{> visibilitySwitch apiBackend=apiBackend }}
          </div>
          <div class="row">
            <div class="page-head-starsblock pull-right">
              {{# if currentUser }}
              {{> favourite apiBackend=apiBackend }}
              {{else}}
              <a href="#" class="star-button">
                <div
                     class="api-card-bookmark"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     title="{{_ 'catalogue-Bookmark-Tooltip_NonUser'}}">
                  <span class="api-card-bookmark-number">{{ apiBackend.bookmarkCount }}</span>
                  <i class="fa fa-star bookmark-default"></i>
                </div>
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="view-api-navigation">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#api-backend-details" data-toggle="tab">
              <i class="fa fa-info-circle"></i>
              {{_ "viewApiBackendNavigationMenu_details" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-documentation" data-toggle="tab">
              <i class="fa fa-file-text"></i>
              {{_ "viewApiBackendNavigationMenu_documentation" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-metadata" data-toggle="tab">
              <i class="fa fa-book"></i>
              {{_ "viewApiBackendNavigationMenu_metadata" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-feedback" data-toggle="tab">
              <i class="fa fa-comments-o"></i>
              {{_ "viewApiBackendNavigationMenu_feedback" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-backlog" data-toggle="tab">
              <i class="fa fa-check-square-o"></i>
              {{_ "viewApiBackendNavigationMenu_backlog" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-export" data-toggle="tab">
              <i class="fa fa-cloud-download"></i>
              {{_ "viewApiBackendNavigationMenu_export" }}
            </a>
          </li>
          {{ # if currentUser }}
          {{# if apiBackend.currentUserCanEdit }}
          <li>
            <a href="#api-backend-settings" data-toggle="tab">
              <i class="fa fa-cog"></i>
              {{_ "viewApiBackendNavigationMenu_settings" }}
            </a>
          </li>
          {{ / if }}
          {{ / if }}
        </ul>
      </div>
    </div>
  </div>
</template>
