<template name="viewApiPageHeader">
  <div class="page-head-topblock">
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="page-head-infoblock">
          {{> viewApiLogo }}
          <h1 class="api-name">
            {{ api.name }}
            {{> viewApiStatus api=api width="0.4" }}
          </h1>
          <ul class="list-inline view-api-meta-details">
            <li>
              <i class="fa fa-user"></i>
              {{ api.getApiManagersByName }}
            </li>
          </ul>
        </div>
        <div class="page-head-starsblock pull-right">
          {{# if currentUser }}
          {{> favourite api=api }}
          {{else}}
          <a href="#" class="star-button">
            <div
                 class="api-card-bookmark"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{{_ 'catalogue_bookmarkTooltip_nonUser'}}">
              <span class="api-card-bookmark-number">{{ api.bookmarkCount }}</span>
              <i class="fa fa-star bookmark-default"></i>
            </div>
          </a>
          {{/if}}
        </div>
        {{#if api.currentUserCanEdit }}
          {{> visibilitySwitch api=api }}
        {{/if}}
      </div>
      {{#if proxyBackend }}
      <div class="row">
        <span class="pull-right">{{> apiKey }}</span>
      </div>
      {{/if }}
      <!-- Tabs -->
      <div class="view-api-navigation">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#api-details" data-toggle="tab">
              <i class="fa fa-info-circle"></i>
              {{_ "viewApiNavigationMenu_details" }}
            </a>
          </li>
          <li>
            <a href="#api-documentation" data-toggle="tab">
              <i class="fa fa-file-text"></i>
              {{_ "viewApiNavigationMenu_documentation" }}
            </a>
          </li>
          <li>
            <a href="#api-metadata" data-toggle="tab">
              <i class="fa fa-book"></i>
              {{_ "viewApiNavigationMenu_metadata" }}
            </a>
          </li>
          <li>
            <a href="#api-feedback" data-toggle="tab">
              <i class="fa fa-comments-o"></i>
              {{_ "viewApiNavigationMenu_feedback" }}
            </a>
          </li>
          <li>
            <a href="#api-backlog" data-toggle="tab">
              <i class="fa fa-check-square-o"></i>
              {{_ "viewApiNavigationMenu_backlog" }}
            </a>
          </li>
          {{ # if currentUser }}
          {{ # if api.currentUserCanEdit }}
          <li>
            <a href="#api-backend-export" data-toggle="tab">
              <i class="fa fa-cloud-download"></i>
              {{_ "viewApiNavigationMenu_export" }}
            </a>
          </li>

            <li>
              <a href="#api-settings" data-toggle="tab">
                <i class="fa fa-cog"></i>
                {{_ "viewApiNavigationMenu_settings" }}
              </a>
            </li>

            {{# if proxyIsConfigured }}
            <li>
              <a href="#api-proxy" data-toggle="tab">
                <i class="fa fa-sitemap"></i>
                {{_ "viewApiNavigationMenu_proxy" }}
              </a>
            </li>
            {{/ if }}
          {{ / if }}
          {{ / if }}
        </ul>
      </div>
    </div>
  </div>
</template>
