<template name="viewApiBackendPageHeader">
  <div class="page-head-topblock">
    <div class="container">
      <div class="page-head-infoblock">
        {{> viewApiLogo }}
        <h1 class="api-name">
          {{ apiBackend.name }}
          {{> viewApiBackendStatus apiBackend=apiBackend width="0.4" }}
        </h1>
        <ul class="list-inline view-api-meta-details">
          <li>
            <i class="fa fa-user"></i>
            {{ apiBackend.getApiManagersByName }}
          </li>
        </ul>
      </div>
      <div class="page-head-starsblock pull-right">
        {{# if currentUser }}
          {{> favourite apiBackend=apiBackend }}
        {{else}}
        <a href="#" class="star-button">
          <i class="fa fa-bookmark bookmark-default"></i>
          {{ apiBackend.bookmarkCount }}
        </a>
        {{/if}}
      </div>
      <div class="view-api-navigation">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#api-backend-details" data-toggle="tab">
              <i class="fa fa-info-circle"></i>
              {{_ "viewApiBackendNavigationMenu_details" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-documentation" data-toggle="tab">
              <i class="fa fa-file-text"></i>
              {{_ "viewApiBackendNavigationMenu_documentation" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-metadata" data-toggle="tab">
              <i class="fa fa-book"></i>
              {{_ "viewApiBackendNavigationMenu_metadata" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-feedback" data-toggle="tab">
              <i class="fa fa-comments-o"></i>
              {{_ "viewApiBackendNavigationMenu_feedback" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-backlog" data-toggle="tab">
              <i class="fa fa-check-square-o"></i>
              {{_ "viewApiBackendNavigationMenu_backlog" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-export" data-toggle="tab">
              <i class="fa fa-cloud-download"></i>
              {{_ "viewApiBackendNavigationMenu_export" }}
            </a>
          </li>
          <li>
            <a href="#api-backend-settings" data-toggle="tab">
              <i class="fa fa-cog"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
