http_port: 3001
https_port: 3002
services:
  - router
  - web
web:
  admin:
    initial_superusers:
      - admin@apinf.dev
    auth_strategies:
      enabled:
        - github        
      github:
        client_id:
        client_secret:
elasticsearch:
  api_version: 2
  hosts:
    - http://elasticsearch.docker:9200
mongodb:
  url: mongodb://mongo/api_umbrella_db
nginx:
  workers: 4
gatekeeper:
  workers: 4
hosts:
  - hostname: example.com
    default: true
    ssl_cert: /etc/letsencrypt/live/example.com/fullchain.pem
    ssl_cert_key: /etc/letsencrypt/live/example.com/privkey.pem
