<template name="settings">
  <div class="container">
    <div class="row" id="champion-messages">
      <div class="col-md-3 settings-menu">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#" class="active2">Settings<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      {{#autoForm collection="Settings" doc=editDoc id="settings" type=formType}}
      <div class="col-md-6 settings-fields">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">API Umbrella</h3>
          </div>
          <div class="panel-body">
            {{> afQuickField name='apiUmbrella.host'}}
            {{> afQuickField name='apiUmbrella.apiKey'}}
            {{> afQuickField name='apiUmbrella.authToken'}}
            {{> afQuickField name='apiUmbrella.baseUrl'}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Api Documentation Editor</h3>
          </div>
          <div class="panel-body">
            {{> afQuickField name='apiDocumentationEditor.enabled'}}
            {{#if afFieldValueIs name="apiDocumentationEditor.enabled" value=true}}
              {{> afQuickField name='apiDocumentationEditor.host'}}
            {{/if}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Elasticsearch</h3>
          </div>
          <div class="panel-body">
            {{> afQuickField name='elasticsearch.host'}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">Mail</span>
            <span class="pull-right">{{> afQuickField name='mail.enabled'}}</span>
          </div>
          <div class="panel-body">
            {{#if afFieldValueIs name='mail.enabled' value=true}}
              {{> afQuickField name='mail.username'}}
              {{> afQuickField name='mail.password'}}
              {{> afQuickField name='mail.toEmail'}}
            {{/if}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Github</h3>
          </div>
          <div class="panel-body">
            {{> afQuickField name='githubConfiguration.clientId'}}
            {{> afQuickField name='githubConfiguration.secret'}}
          </div>
        </div>
        <div id="form-buttons">
          <button type="submit" class="btn btn-lg btn-success" id="save-settings">Save</button>
        </div>

        {{> flashMessages}}
      </div>
      {{/autoForm}}
    </div>
  </div>
</template>
