<template name="viewApiBackendUrlMatchers">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{_ "view_ApiBackend_Matchers"}}</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          {{#each apiBackend.url_matches}}
          <div class="col-lg-12">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="label label-primary">
                  {{_ "view_ApiBackend_Backend_Prefix"}}
                </span>
                &nbsp;{{ backend_prefix }}
              </li>
              <li class="list-group-item">
                <span class="label label-primary">
                  {{_ "view_ApiBackend_Frontend_Prefix"}}
                </span>
                &nbsp;{{ frontend_prefix }}
              </li>
            </ul>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
