<template name="userMenu">
  <li class="dropdown">
    <a
      href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false">
        {{ user.username }}&nbsp;
        <i class="fa fa-chevron-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
      <li><a href="{{pathFor 'account'}}">{{_ "account"}}</a></li>
      {{#if isInRole 'admin'}}
      <li><a href="{{pathFor 'branding'}}">Branding</a></li>
      <li><a href="{{pathFor 'settings'}}">Settings</a></li>
      {{/if}}
      <li class="divider"></li>
      <li><a href="/sign-out">{{_ "signout"}}</a></li>
    </ul>
  </li>
</template>
