<template name="masterLayout">
  <style>
  .coverphoto {
    background-color: {{ primaryColor }} !important;
  }

  .introjs-bullets ul li a.active {
    background: {{ primaryColor }} !important;
  }

  .main-navigation {
    background-color: {{ primaryColor }} !important;
  }

  .search-box {
    background-color: {{ primaryColor }} !important;
  }

  /* Only select top-level navigation menu items */
  #main-navbar > ul > li > a {
    color: {{ primaryColorText }} !important;
  }

  #site-title {
    color: {{ primaryColorText }} !important;
  }

  #site-slogan {
    color: {{ primaryColorText }} !important;
  }
  </style>
  {{> languageBar }}
  {{# if Template.subscriptionsReady }}
  <div class="master-layout">
    {{> navbar branding=branding }}
    <div class="content-wrapper">
      {{> yield }}
      {{> sAlert }}
      {{> autoformModals }}
    </div>
  </div>
  {{/ if }}
</template>
