<template name="masterLayout">
  <style>
  .coverphoto {
    background-color: {{ primaryColor }} !important;
  }

  .main-navigation {
    background-color: {{ primaryColor }} !important;
    color: {{primaryColorText}} !important;
  }

  .search-box {
    background-color: {{ primaryColor }} !important;
  }
  </style>
  {{> languageBar }}
  {{# if Template.subscriptionsReady }}
  <div class="master-layout">
    {{> navbar branding=branding }}
    <div class="content-wrapper">
      {{> yield }}
      {{> sAlert }}
      {{> autoformModals }}
    </div>
  </div>
  {{/ if }}
</template>
