/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

/*
Make sure iframe is full height and width
source: http://stackoverflow.com/a/27853830/1191545
*/
iframe {
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  width: 100%;
  height: 100vh;
}

.s-alert-box {
  z-index: 10000
}

