/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.apis-block-title {
  display: inline;
  margin-right: 0.4em;
}

.block-header {
  margin-bottom: 1.5em;
}

.setting-section {
  margin-top: 1.6em;
  margin-bottom: 2em;
}
