/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

#usage-instructions {
  ul {
    margin-bottom: 0;
  }
  li {
    padding-top: 0.5em;
    span {
      margin-top: 0.7em;
      background-color: rgba(0,0,0,0.04);
      border-radius: 3px;
      padding: 0.2em;
      color: #333;
    }

    a {
      margin-top: 0.7em;
      background-color: rgba(0,0,0,0.04);
      border-radius: 3px;
      padding: 0.2em;
    }
  }
}

.api-details-block .input-group input {
  cursor: default;
  background: #F0F4F8;
  border: 1px solid #D5DCE6;
  box-shadow: none;
  outline: none;;
  color: #333C4A;
}


.num {
  background: #6d859e;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 21px;
  margin-right: 3px;
  text-align: center;
  width: 20px;
}
