<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.png?v=2">
  <link rel="stylesheet" type="text/css" href="/swagger/swagger-ui.css" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/swagger/bundle.js" async></script>
  <script src="/swagger/standalone-preset.js" async></script>
</head>
