<template name="homeHeader">
  {{> languageBar }}
  <nav class="navbar navbar-default home-navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-hide" href="/" style="background-image:url({{ projectLogo.url }})">
          APInf
        </a>
      </div>
      <div id="home-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li><a href="{{pathFor 'dashboard'}}">{{_ "Dashboard"}}</a></li>
          {{> userMenu }}
          {{else}}
          <li><a href="/sign-in">{{_ "signIn"}}</a></li>
          <li><a href="/sign-up">{{_ "signUp"}}</a></li>
          <li><a href="/catalogue">{{_ "apiCatalogue"}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="coverphoto" style="background-image: url({{ coverPhoto.url }})">
    <div class="container" id="headerwrap">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="text-center">
            {{ branding.siteTitle }}
            <br>
            <small>{{ branding.siteSlogan }}</small>
          </h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="search-box">
            {{> searchField }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
