<template name="homeHeader">
  {{> languageBar }}
  <div class="navbar-collapse collapse navigation-bar navbar-default">
    <div class="main-header container">
      <a class="logo" href="#">
        <div class="logo-lg project-logo" style="background-image:url({{ projectLogo.url }})"></div>
      </a>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
        {{#if isInRole 'admin'}}
        <li><a href="{{pathFor 'dashboard'}}">{{_ "Dashboard"}}</a></li>
        {{/if}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{niceName User._id}} <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
            <li><a href="{{pathFor 'account'}}">{{_ "account"}}</a></li>
            <li class="divider"></li>
            <li><a href="/sign-out">{{_ "signout"}}</a></li>
          </ul>
        </li>
        {{else}}
        <li><a href="/sign-in">{{_ "signIn"}}</a></li>
        <li><a href="/sign-up">{{_ "signUp"}}</a></li>
        <li><a href="/catalogue">{{_ "apiCatalogue"}}</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
  <div class="coverphoto" style="background-image: url({{ coverPhoto.url }})">
    <div class="container" id="headerwrap">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 class="text-center">{{ branding.siteTitle }}<br>
            <small>{{ branding.siteSlogan }}</small></h1>
          <div class="search-box">
            {{> searchField}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
