<template name="homeHeader">
  <div class="navbar navbar-default coverphoto" style="background-image: url({{ coverPhoto.url }})">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="{{ projectLogo.url }}" style="width: 140px;" alt="">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          {{#if isInRole 'admin'}}
          <li><a href="{{pathFor 'dashboard'}}">{{_ "Dashboard"}}</a></li>
          {{/if}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{niceName User._id}} <i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
              <li><a href="{{pathFor 'account'}}">{{_ "account"}}</a></li>
              <li class="divider"></li>
              <li><a href="/sign-out">{{_ "signout"}}</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/sign-in">{{_ "signIn"}}</a></li>
          <li><a href="/sign-up">{{_ "signUp"}}</a></li>
          <li><a href="/catalogue">{{_ "apiCatalogue"}}</a></li>
          {{/if}}
        </ul>
      </div>
      <div id="headerwrap">
        <div class="row">
          <div class="col-lg-6">
            <h1>{{ branding.siteTitle }}<br>
              <small>{{ branding.siteSlogan }}</small></h1>
            {{#if currentUser}}
            <a href="/dashboard" class="btn btn-success sign-up" title="{{_ 'Dashboard'}}"><i class="mdi mdi-chart-bar"></i> {{_ "Dashboard"}}</a>
            {{else}}
            <a href="/sign-up" class="btn btn-success sign-up" title="{{_ 'signUp'}}"><i class="mdi mdi-account-plus"></i> {{_ "signUp"}}</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
