/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.settings-menu {
  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
  }

  .nav-pills > li > a {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  .nav-stacked > li + li {
    margin-top: 0;
    margin-left: 0;
  }

  .active2 {
    font-weight: bold;
    border-radius: 0;
    border-right: 4px solid #428bca;
  }

  .panel-body {
    padding: 0;
  }
}

.featured-api{
  margin:0px;
  padding:0px;
}
.featured-api li {
  display: inline-block;
  background: #f5f5f5;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 2px;
  position: relative;
  color: #80787e;
}
.featured-api .close-btn{
  position: absolute;
  top: -7px;
  right: -5px;
  border-radius: 100%;
  color: #80787e;
}