<template name="visibilityToggle">
  <button class="btn btn-default changeVisibility">
    {{# if isPublic }}
      {{_ "visibilityToggle_buttonPrivate" }}
    {{ else }}
      {{_ "visibilityToggle_buttonPublic" }}
    {{/ if}}
  </button>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Public</a></li>
    <li><a href="#">Semipublic</a></li>
    <li><a href="#">Private</a></li>
  </ul>
</div>
</template>
