<template name="visibilityToggle">
  <!-- <button class="btn btn-default changeVisibility">
    {{# if isPublic }}
      {{_ "visibilityToggle_buttonPrivate" }}
    {{ else }}
      {{_ "visibilityToggle_buttonPublic" }}
    {{/ if}}
  </button> -->
{{#autoForm collection=formCollection doc=api id="apiVisibility" type="insert" }}
  {{> afQuickField name='visibility' options="allowed" }}
  <a
     href="#"
     class="btn btn-success">
     {{_ "viewApiSettigs_saveButton_text" }}
  </a>
{{/autoForm}}
</template>
