.template-navbar
{
  .navbar-toggle
  {
    float: left;
    position: relative;

    i
    {
      color: white;
      cursor: pointer;
      position: absolute;
      font-size: 1.3em;
      font-weight: 100;
      top: 6px;
    }

    &.xs-mobile-cta
    {
      float: right;
    }
  }

  .navbar-header .button-collapse {
    font-size: 1.6em;
    line-height: 1.9em;
    color: #fff;
    line-height: 35px;

    &:hover { text-decoration: none; }
    &:focus { text-decoration: none; }
  }

  .navbar-inverse {
    border: none;
  }

}

