.ufb-links{
	position: fixed;
	cursor: pointer;
	top: 30%;
    right: -8px;
	border: 5px double #ddd;
	border-radius: 12px;
	text-align: center;
	background: #008080;
	font-size: 1.3em;
	color: #fff;
	rem-font-weight: bold;
	z-index: 1010 !important;
	width: 28px;
}
.ufb-button{
	width: 22px;
}
.ufb-chat{
	width: 22px;
	margin-bottom: 10px;
	border-bottom: 2px solid #fff;
}

@keyframes blink {
    0%   {background-color: red;}
    50%  {background-color: blue;}
}

.ufb-chat-flash{
   animation-name: blink;
  animation: 1s blink step-end infinite;
}
.ufb-page{
	font-family: sans-serif;
	z-index: 1009 !important;
	position: fixed;
	margin-left: 10%;
	min-height: 50%;
	top: 30px;
	width: 80%;
	overflow-y: auto;
	max-height: 90%;
	min-width:640px;
	border-radius: 15px;
	border: 6px solid #DDD;
	background-color: #fff;
}
.ufb-search{
	width: 60%;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  margin: 10px;
  font-size: 1.2em;
}
.ufb-search-form{
	width: 100%;
}
.ufb-type{
	width: 40%;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  float:left;
}
.ufb-new{
	padding: 10px;
	border-radius: .5em;
	color: #fff;
	background-color: #449d44;
	border: 1px solid #398439;
	font-weight: bold;
	display: inline;
	cursor: pointer;
}
.ufb-status{
	width: 70px;
}
.ufb-new-form{
}
.ufb-search-button{
	font-size: 2.3em;
	text-decoration: none;
	color: #777;
	float: left;
	padding: 10px;
}
.ufb-head{
	font-size: 1.2em;
	float: left;
}
.ufb-count{
	font-size: 1.2em;
	border-left: 1px;
	border-color: gray;
	float: right;
	padding-right: 30px;
}
.ufb-close{
	cursor: pointer;
	float: right;
	margin-right: 10px;
}
.ufb-topic-close{
	cursor: pointer;
	float: right;
	margin: 10px;
}
.ufb-chat-close{
	cursor: pointer;
	float: right;
	margin-right: 10px;
}

.ufb-like{
	display: inline-block;
	color: green;
}
.ufb-unlike{
	display: inline-block;
	color: red;
}
.ufb-head-row{
	margin-top: 5px;
	padding: 10px;
	color: #666;
}
.ufb-textbox{
  width: 70%;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  font-size: 1.2em;
	float: left;
	margin-left: 10px;
}
.ufb-status-box{
	float:left;
	margin-left: 10px;
  border-radius: 0.2em;
  border: 1px solid #ccc;
}
.ufb-type-input{
	margin-left: 10px;
	float: left;
  border-radius: 0.2em;
  border: 1px solid #ccc;
}

.ufb-textdesc{
	width: 70%;
	margin-top: 10px;
	height: 70px;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  float: left;
  font-family: sans-serif;

	margin-left: 10px;
}
.ufb-readonly{
  border: 1px solid #eee;
}

.ufb-comment-input{
	width: 80%;
	margin: 10px;
	height: 70px;
  border-radius: 0.2em;
 	font-family: sans-serif;
  border: 1px solid #ccc;
 	float: left;
}
.ufb-comment{
	float: left;
	padding: 10px 10px 10px 40px;
	border-bottom: 1px dotted #ccc;
}
.ufb-accepted{
	float: left;
	color: green;
	font-weight: bold;
	font-size: 1.7em;
	padding: 10px;
	margin-left: 100px;
}
.ufb-topic-user{
	float: left;
	padding-left: 60px;
	font-size: .9em;
	padding-top: 5px;
}
.ufb-topic-date{
	float: left;
	font-size: .8em;
	padding-left: 10px;
	padding-top: 5px;
}
.ufb-accepted-text{
	float: left;
	padding: 10px;
}
.ufb-comment-save{
	float: left;
	margin-top: 10px;
}
.ufb-comment-details{
	font-size: .8em;
	margin-left: 20px;
}
.ufb-like-button{
	margin-top: 20px;
	font-size: 1.4em;
	color: green;
	border: 1px solid green;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	margin-left: 10px;
	padding-top:5px;
	padding-bottom: 5px;
}
.ufb-unlike-button{
	margin-top: 20px;
	font-size: 1.4em;
	color: red;
	border: 1px solid red;
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	float: left;
	width: 60px;
	margin-left: 10px;
	padding-top:5px;
	padding-bottom: 5px;
}
.ufb-rating-up{
	display:inline;
	cursor: pointer;;
}
.ufb-rating-down{
	display: inline;
	cursor: pointer;;
}
.ufb-rating{
	padding-left: 30px;
	display: inline;
}
.ufb-save-button{
	float:left;
	margin-top: 60px;
	margin-left: 5px;
}
.ufb-header{
	float:left;
	padding: 10px;
}
.ufb-row{
	clear: left;
}
.ufb-status{
	float: left;
	width: 70px;
}
.ufb-topic{
	float: left;
	width: 50%;
	padding:3px 3px 3px 10px;
}
.ufb-comment-remove{
	display: inline;
	padding: 5px;
}
.ufb-accept-answer{
	display: inline;
	padding: 5px;
}
.ufb-msg-tm{
	display: inline-block;
	font-size: .6em;
	right: 10px;
}
.ufb-msg{
	display: inline-block;
	padding: 0px 150px 0px 20px;
	font-size: .9em;
	color: #333;
}
.ufb-msg-from{
	display: inline-block;
	font-size: .7em;
}
.ufb-msg-section{
	float: left;
	width: 80%;
	margin: 10px;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 10px;
}
.ufb-chat-input{
	width: 80%;
	margin:20px;
	border-radius: .2em;
	border: 1px solid #ccc
}
.ufb-list{
	float: right;
	margin: 20px;
	border: 1px solid black;
	border-radius:  5px;
}
.ufb-chat-status1{
	background-color: #FF9995;
	padding: 5px;
}
.ufb-chat-status0{
	padding: 5px;
}
.ufb-chatuser{
	cursor: pointer;
}
