<template name="navbar">
  <header class="main-header">
    <a href="/" class="logo">
      {{#if projectLogo}}
      <div class="logo-lg project-logo" style="background-image: url('{{projectLogo.url}}')"></div>
      <span class="logo-mini"><b>NF</b></span>
      {{else}}
      <span class="logo-lg">API<b>NF</b></span>
      <span class="logo-mini"><b>NF</b></span>
      {{/if}}
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      {{#if User}}
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      {{/if}}
      {{# unless isSearchRoute }}
      <form id="header-search-form" class="header-search-form">
          <div>
              <input type="text" placeholder="Search.." class="form-control" id="header-search-text" />
          </div>
      </form>
      {{/ unless }}
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{#if User}}
          {{#if isInRole 'admin'}}
          <li>
            <a href="{{pathFor 'dashboard'}}">
              {{_ "Dashboard"}}
            </a>
          </li>
          {{/if}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{niceName User._id}} <i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
              <li><a href="{{pathFor 'account'}}">{{_ "account"}}</a></li>
              {{#if isInRole 'admin'}}
                <li><a href="{{pathFor 'branding'}}">Branding</a></li>
              {{/if}}
              <li><a href="{{pathFor 'settings'}}">Settings</a></li>
              <li class="divider"></li>
              <li><a href="/sign-out">{{_ "signout"}}</a></li>
            </ul>
          </li>
          {{else}}
          <li>
            <a class="close-navbar" href="/sign-up">{{_ "signup"}}</a>
          </li>
          <li>
            <a class="close-navbar" href="/sign-in">{{_ "login"}}</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
</template>
