<template name="navbar">
  <header class="main-header">
    <a href="/" class="logo">
      {{#if projectLogo}}
      <div class="logo-lg project-logo" style="background-image: url('{{ projectLogo.url }}')"></div>
      <span class="logo-mini"><b>{{ branding.siteAbbreviation }}</b></span>
      {{else}}
      <span class="logo-lg">{{ branding.siteTitle }}</span>
      <span class="logo-mini">{{ branding.siteAbbreviation }}</span>
      {{/if}}
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      {{#if User}}
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      {{/if}}
      {{# unless isSearchRoute }}
        {{> searchField}}
      {{/ unless }}
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- language select -->
          <!-- TODO: enable language select when dashboard is translated -->
          <!-- <li>
            <form class="navbar-form">
              {{> i18n_dropdown }}
            </form>
          </li> -->
          <!-- /language select -->
          {{#if User}}
          <li>
            <a href="{{pathFor 'dashboard'}}">
              {{_ "Dashboard"}}
            </a>
          </li>
          {{> userMenu }}
          {{else}}
          <li>
            <a class="close-navbar" href="/sign-up">{{_ "signup"}}</a>
          </li>
          <li>
            <a class="close-navbar" href="/sign-in">{{_ "login"}}</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
</template>
