<template name="branding">
  <div class="container">
    <div class="row" id="champion-messages">
      <div class="col-md-3 settings-menu">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#" class="active2">{{_ "branding"}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{_ "branding_panel_title"}}</h3>
          </div>
          <div class="panel-body">
            {{#if branding}}
            {{> viewProjectLogo branding=branding }}
            {{> uploadProjectLogo branding=branding }}
            {{#autoForm collection="Branding" id="branding" doc=branding type="update"}}
            {{> afQuickField name='siteTitle'}}
            {{> afQuickField name='siteSlogan'}}
            {{> afQuickField name='siteFooter'}}
            {{> afQuickField name='socialMedia'}}
            <div id="form-buttons">
              <button type="submit" class="btn btn-primary">{{_ "branding_update"}}</button>
            </div>
            {{/autoForm}}
            {{else}}
            {{#autoForm collection="Branding" id="branding" type="insert"}}
            {{> afQuickField name='siteTitle'}}
            {{> afQuickField name='siteSlogan'}}
            {{> afQuickField name='siteFooter'}}
            {{> afQuickField name='socialMedia'}}
            <div id="form-buttons">
              <button type="submit" class="btn btn-primary">{{_ "branding_save"}}</button>
            </div>
            {{/autoForm}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
