<template name="branding">
  <div class="container">
    <div class="row" id="champion-messages">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Project Branding</h3>
          </div>
          <div class="panel-body">
            {{#if branding}}
            {{> quickForm collection="Branding" id="branding" type="update" doc=branding}}
            {{else}}
            {{> quickForm collection="Branding" id="branding" type="insert"}}
            {{/if}}

            {{#with projectLogo}}
            <img alt="{{this.name}}" src="{{this.url}}">
            {{/with}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
