/* Copyright 2018 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.api-settings .input-group-addon {
  background-color: #F5F5F5;
}

.api-settings .num {
  background: #6d859e;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 21px;
  margin-right: 3px;
  text-align: center;
  width: 20px;
}
