/* Copyright 2018 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.at-signup-link {
  text-align: center !important;
}

.at-oauth {
  margin-top: 30px;
}

button.at-social-btn#at-github, button.at-social-btn#at-fiware {
  background: #fff;
  border: 1px solid #C1C7CD;
  color: #37474F;
}

button.at-social-btn {
  background: #fff;
  border: 1px solid #C1C7CD;
  color: #37474F;
  border-radius: 0;
}

button.at-social-btn#at-github:hover {
  background: #ecf3f8;
}

button.at-social-btn:hover {
  background: #ecf3f8;
}

button.at-social-btn i {
  float: none;
  width: auto;
  font-size: 20px;
  margin-top: 0;
  padding-right: 10px;
  padding-left: 0;
  border-right: none;
}

#at-btn {
  height: auto;
}
