<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardView">
  {{# if Template.subscriptionsReady }}
    <!-- My APIs group -->
    {{> dashboardSummaryStatistic title="myApis"
      overviewChartResponse=overviewChartResponse
      analyticsData=analyticsDataMyApis
    }}

    <!-- Managed APIs group -->
    {{> dashboardSummaryStatistic title="managedApis"
      overviewChartResponse=overviewChartResponse
      analyticsData=analyticsDataManagedApis
    }}

    <!-- Other APIs group -->
    {{> dashboardSummaryStatistic title="otherApis"
      overviewChartResponse=overviewChartResponse
      analyticsData=analyticsDataOtherApis
    }}
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
