<template name="homeFooter">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <ul class="list-inline social-icons icon-circle">
            <li><a href="https://twitter.com/apinf_io"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="https://www.facebook.com/apinfio"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="https://github.com/apinf/api-umbrella-dashboard" target="_blank"><i class="fa fa-github"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-lg-push-1 collaboration">
          <p class="collaboration-title">{{_ "collaborationTitle"}}</p>
          <a href="http://samposoftware.com/">
            <img class="collaboration-image" src="img/sampologo.png" />
          </a>
          <p class="collaboration-title">&nbsp;{{_ "collaborationTitleExtra"}}&nbsp;</p>
          <p class="apiumbrella-logo">
            <a href="http://apiumbrella.io/">
              <i class="fa fa-umbrella"></i>
              API Umbrella
            </a>
          </p>
        </div>
        <div class="col-lg-2">
          <ul class="list-inline quicklinks">
            {{#if User}}
            <li><a href="/dashboard">{{_ "Dashboard"}}</a></li>
            {{else}}
            <li><a href="/sign-in">{{_ "signIn"}}</a></li>
            <li><a href="/sign-up">{{_ "signUp"}}</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
