<template name="homeFooter">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <ul class="list-inline social-icons icon-circle">
            {{#each network in branding.socialMedia }}
              <li>
                <a href="{{ network.url }}" target="_blank">
                  <i class="fa fa-{{ socialMediaIcon network.name }}"></i>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="col-lg-8 col-lg-push-1">
          <p class="footer-text">{{ branding.siteFooter }}</p>
        </div>
        <div class="col-lg-2">
          <ul class="list-inline quicklinks">
            {{#if User}}
            <li><a href="/dashboard">{{_ "Dashboard"}}</a></li>
            {{else}}
            <li><a href="/sign-in">{{_ "signIn"}}</a></li>
            <li><a href="/sign-up">{{_ "signUp"}}</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
