<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="apiAnalyticView">
  <div data-overview-id="{{ proxyBackendId }}">
    {{# with bucket }}
      <div class="row">
        <!-- number of requests chart -->
        <div class="col-xs-12 col-md-4">
          <div class="api-view-card form-group">
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_text_requestsCount' count=requestNumber }}
            </p>
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_chartTitle_apiRequests' }}
            </p>
            <div class="form-group">
              {{> requestsOverTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            </div>
            <div class="form-group">
              <div class="{{ arrowDirection 'requests' }}"></div>
              <!-- Keep the space symbol to set SPAN element a height -->
              <span>
                {{ summaryComparing 'requests' }}&nbsp;
              </span>
            </div>
            <!-- response status list-->
            <div class="row">
              <span class="text-success col-xs-6 col-md-3">
                2XX: {{ successCallsCount }}
              </span>
              <span class="text-info col-xs-6 col-md-3">
                3XX: {{ redirectCallsCount }}
              </span>
              <span class="text-warning col-xs-6 col-md-3">
                4XX: {{ failCallsCount }}
              </span>
              <span class="text-danger col-xs-6 col-md-3">
                5XX: {{ errorCallsCount }}
              </span>
            </div>
          </div>
        </div>

        <!-- response time chart -->
        <div class="col-xs-12 col-md-4">
          <div class="api-view-card form-group">
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_text_responseTime' time=responseTime }}
            </p>
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_chartTitle_avgResponseTime' }}
            </p>
            <div class="form-group">
              {{> averageResponseTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            </div>
            <div class="form-group">
              <div class="{{ arrowDirection 'time' }}"></div>
              <!-- Keep the space symbol to set a height for SPAN element -->
              <span>
                {{ summaryComparing 'time' }}&nbsp;
              </span>
            </div>
            <!-- Keep the space symbol to set a height the element a height -->
            <div class="row">&nbsp;</div>
          </div>
        </div>

        <!-- unique users chart -->
        <div class="col-xs-12 col-md-4">
          <div class="api-view-card form-group">
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_text_usersCount' count=uniqueUsers }}
            </p>
            <p class="overview-col-title">
              {{_ 'apiAnalyticView_chartTitle_uniqueUsers' }}
            </p>
            <div class="form-group">
              {{> uniqueUsersOverTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            </div>
            <div class="form-group">
              <div class="{{ arrowDirection 'users' }}"></div>
              <!-- Keep the space symbol to set a height for SPAN element -->
              <span>
                {{ summaryComparing 'users' }}&nbsp;
              </span>
            </div>
            <!-- Keep the space symbol to set a height for the element -->
            <div class="row">&nbsp;</div>
          </div>
        </div>
      </div>
    {{/ with }}

    <div class="row">
      <!-- request timeline chart -->
      <div class="col-xs-12 col-md-6">
        <div class="api-view-card form-group">
          <p class="overview-col-title">
            {{_ 'apiAnalyticView_timelineChartTitle_requests' }}
          </p>
          {{> requestTimeline timelineData=timelineData }}
        </div>
      </div>
      <!-- response time timeline chart -->
      <div class="col-xs-12 col-md-6">
        <div class="api-view-card form-group">
          <p class="overview-col-title">
            {{_ 'apiAnalyticView_timelineChartTitle_time' }}
          </p>
          {{> responseTimeTimeline timelineData=timelineData }}
        </div>
      </div>
    </div>
    <div class="row">
      <!-- table with list of errors -->
      <div class="col-xs-12 col-md-6">
        {{> errorsStatisticTable timelineData=timelineData }}
      </div>
      <!-- most frequent users -->
      <div class="col-xs-12 col-md-6">
        {{> mostFrequentUsersTable mostFrequentUsers=mostFrequentUsers }}
      </div>
    </div>
  </div>
</template>
