<template name="homeHeader">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="img/logo.png" style="width: 140px;" alt="">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if User}}
          {{#if isInRole 'admin'}}
          <li><a href="{{pathFor 'adminDashboard'}}">{{_ "admin"}}</a></li>
          {{/if}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{niceName User._id}} <i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{pathFor 'profile'}}">{{_ "profile"}}</a></li>
              <li><a href="{{pathFor 'account'}}">{{_ "account"}}</a></li>
              <li class="divider"></li>
              <li><a href="/sign-out">{{_ "signout"}}</a></li>
            </ul>
          </li>
          {{else}}
          <li><a href="/sign-in">Sign in</a></li>
          <li><a href="/sign-up">Sign up</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>APINF - API Management Platform<br>
            <small>Building a bridge between API owners and users.</small></h1>
          {{#if User}}
          <a href="/dashboard" class="btn btn-success sign-up" title="Go to dashboard"><i class="mdi mdi-chart-bar"></i> Go to dashboard</a>
          {{else}}
          <a href="/sign-up" class="btn btn-success sign-up" title="Sign up"><i class="mdi mdi-account-plus"></i> Sign up</a>
          {{/if}}
        </div>
        <div class="col-lg-6">
          <img class="img-responsive front-img" src="img/compIllustr.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
