<template name="viewApiBackendMetadata">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if currentUserCanEditMetadata }}
        {{> editApiMetadata metadata=metadata }}
      {{/if}}
      <h2 class="panel-title clearfix">
        <i class="fa fa-book"></i>
        {{_ "view_ApiBackend_Metadata_Title"}}
      </h2>
    </div>
    <div class="panel-body">
      {{# if metadata }}
      {{# with metadata }}
      <div class="row">
        {{# if organization }}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">{{_ "view_ApiBackend_Metadata_Organization_title" }}</h2>
            </div>
            <div class="panel-body">
              {{# if organization.name }}
                <h3>{{ organization.name }}</h3>
              {{/ if }}
              {{# if organization.name }}
                <p>{{ organization.description }}</p>
              {{/ if }}
            </div>
          </div>
        </div>
        {{/ if }}
        {{# if contact }}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">{{_ "view_ApiBackend_Metadata_Contact_title" }}</h2>
            </div>
            <div class="panel-body">
              {{# if contact.name }}
               <h3>{{ contact.name }}</h3>
              {{/ if }}
              {{# if contact.phone }}
               <p><b>{{_ "view_ApiBackend_Metadata_Contact_phone" }}:</b> {{ contact.phone }}</p>
              {{/ if }}
              {{# if contact.email }}
               <p><b>{{_ "view_ApiBackend_Metadata_Contact_email" }}:</b> {{ contact.email }}</p>
              {{/ if }}
            </div>
          </div>
        </div>
        {{/ if }}
        {{# if service }}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">{{_ "view_ApiBackend_Metadata_Service_title" }}</h2>
            </div>
            <div class="panel-body">
              {{# if service.name }}
                <h3>{{ service.name }}</h3>
              {{/ if }}
              {{# if service.description }}
                <p>{{ service.description }}</p>
              {{/ if }}
              {{# if service.validSince }}
                <p><b>{{_ "view_ApiBackend_Metadata_Service_validSince" }}:</b> {{ service.validSince }}</p>
              {{/ if }}
              {{# if service.validUntil }}
                <p><b>{{_ "view_ApiBackend_Metadata_Service_validUntil" }}:</b> {{ service.validUntil }}</p>
              {{/ if }}
              {{# if service.serviceLevelAgreement }}
                <p><b>{{_ "view_ApiBackend_Metadata_Service_serviceLevelAgreement" }}:</b> {{ service.serviceLevelAgreement }}</p>
              {{/ if }}
            </div>
          </div>
        </div>
        {{/ if }}
      </div>
      {{/ with }}
      {{ else }}
      <p>{{_ "view_ApiBackend_Metadata_NotFound"}}</p>
      {{/ if }}
    </div>
  </div>
  <p></p>
</template>
