<template name="addApiBackendWizard">
  <h1>Add API Backend Wizard</h1>
  {{> wizard
    id="add-api-backend-wizard"
    steps=steps
    buttonClasses="btn btn-default"
    stepsTemplate="steps_bootstrap3"
    clearOnDestroy=true
    confirmButton="Publish API Backend"
  }}
</template>


<template name="baseInformation">
  {{#autoForm id="base-information-form" doc=step.data schema=step.schema}}

  {{> afQuickField name="name"}}

  {{> wizardButtons}}

  {{/autoForm}}
</template>

<template name="backendInformation">
  {{#autoForm id="backend-information-form" doc=step.data schema=step.schema}}

  {{> afQuickField name="backend_protocol" options="allowed"}}
  {{> afQuickField name="backend_host"}}
  {{> afQuickField name="backend_port"}}

  {{> wizardButtons}}

  {{/autoForm}}
</template>

<template name="frontendInformation">
  {{#autoForm id="frontend-information-form" doc=step.data schema=step.schema}}

  {{> afQuickField name="frontend_host"}}

  {{> wizardButtons}}

  {{/autoForm}}
</template>

<template name="prefixesInformation">
  {{#autoForm id="prefixes-information-form" doc=step.data schema=step.schema}}

  {{> afQuickField name="url_matches"}}

  {{> wizardButtons}}

  {{/autoForm}}
</template>
