.dashboard-charts-filtering {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.no-chart-data-found {
  text-align: center;
  padding-top: 3em;
  color: #777;
}
