#organization-head-about {
  max-width: 70%;
  .fa {
    color: #ccc;
  }
  p {
    color: #333;
  }
  ul > li {
    padding-right: 1em;
  }
}

.organization-header img {
  float: left;
}

.organization-header h1 {
  display: inline;
  position: relative;
  vertical-align: top;
  left: 0.2em;
}
