/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

/* Bootstrap */
@import "/apinf_packages/core/client/style/bootstrap-variables.less";

body {
  /* The fixed navbar will overlay your other content,
  unless you add padding to the top of the <body> */
  //padding-top: 3em;

  /* hide horizontal scroll*/
  background-color: #e5eef4;
  overflow-x: hidden;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: @font-family-default;
}

h1, h2, h3, h4, h5, h6 {
  color: #37474F;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
}

h1 {
  font-size: 1.6em;
}

html, body, #__blaze-root {
  height: 100%
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  border-color: transparent;
}

a:hover, a:focus {
  color: @link-hover-color;
  text-decoration: none;
}

a {
  color: @link-color;
  text-decoration: none;
}

.btn {
  border-radius: .5rem;
}

.dropdown-menu {
  min-width: 180px !important;
}

[data-required] label:after,
.at-pwd-form label:after {
  content: '*';
  font-size: 0.8em;
  color: @brand-danger;
  padding-left: 0.2em;
}

#iron-router-progress {
  background-color: darken(@brand-primary, 20%);
  box-shadow: 0 0 5px darken(@brand-primary, 20%);
}

#iron-router-progress.spinner:before {
  border-color: darken(@brand-primary, 20%);
}

.help-block {
  margin-bottom: 1.4em;
  color: #6d859e;
}

hr {
  margin-bottom: 0.5em;
  margin-top: 0;
}

pre {
  border: none;
}

.no-margin-row {
  margin-left: 0;
  margin-right: 0;
}

.panel:last-child {
  margin-bottom: 1.5em;
}

.panel-body h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
}

.navigation-tabs {
  margin-top: 1.5em;
  .nav-tabs {
    border-bottom: none;
    margin-bottom: 1px;
  }

  .nav-tabs > li > a {
    color: #555;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #333;
  }
}

.padded-container {
  margin-top: 36px;
}

.rss-feed {
  color: #ff9d00;
}

.rss-feed:hover {
  color: #ff9d00 !important;
  text-decoration: none !important;
}

.control-label, .form-group label {
  font-weight: 500 !important;
  font-size: 14px;
  color: #4c6072;
}

.block-wrapper {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(59,59,88,.15);
  padding: 20px;
  margin-top: 20px;
}

.slide-up-animation {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.mdi-delete {
  font-size: 14px;
}

.form-control {
  border: 1px solid #D1D5DA !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.form-control::-webkit-input-placeholder { color: #6d859e; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #6d859e; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #6d859e; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #6d859e; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #6d859e; }  /* Microsoft Edge */

.s-alert-box {
  max-width: 600px !important;
  width: 500px !important;
  margin: auto;
  top: 20px;
  border-radius: 5px;
  padding: 20px !important;
}

.s-alert-success {
  background-color: rgba(25,185,52,0.95);
  text-align: center;
}

.s-alert-error {
  background-color: rgba(244,67,54,0.95);
  text-align: center;
}

.link-color-wrapper {
  padding: 10px 15px;
  background-color: #f1f8ff;
  text-decoration: none;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  height: 34px;
  line-height: 21px;
}
