<template name="homeHeader">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="img-responsive" src="img/logo.png" style="width: 140px;" alt="">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/sign-in">Sign in</a></li>
          <li><a href="/sign-up">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>APINF - API Management Platform<br>
            <small>Building a bridge between API owners and users.</small></h1>
          <a href="/sign-up" class="btn btn-warning sign-up" title="Sign up"><i class="mdi mdi-account-plus"></i> Sign up</a>
        </div>
        <div class="col-lg-6">
          <img class="img-responsive front-img" src="img/compIllustr.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
