<template name="chartsLayout">
  <div class="row">
    <div class="col-md-12">
      {{ > dashboardChartsFiltering }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        {{ > requestsOverTimeChart }}
      </div>
      <div>
        {{ > overviewChartChart }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ > statusCodeCountsChart }}
    </div>
    <div class="col-md-6">
      {{ > responseTimeDistributionChart }}
    </div>
  </div>
  <div class="row">
    <div class="row padding-sides">
      {{ > dataTable tableDataSet=tableDataSet }}
    </div>
  </div>
</template>
