.at-layout {
  min-height: 100%;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

  .at-form {
    margin-top: 20vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    padding-bottom: 3em;
    padding-top: 5em;
    padding-right: 1em;
    padding-left: 3em;
    color: #fff;
    font-size: 4em;
  }

  small {
    color: #fff;
    font-size: 50%;
    display: block;
    margin-top: 1em;
  }
}
