/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.filter-popup {
    position: absolute;
    top: 50px;
    right: 15px;
    padding: 10px;
    width: 100%;
    visibility: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    opacity: 0;
    z-index: 100;
    transition: all .3s;
}

.filter-popup-visible {
    visibility: visible;
    opacity: 1;
}
