<template name="feedbackList">
  <h3>Feedback and report messages</h3>
  <div class="row">
    <div class="col-sm-9 col-md-10">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="list-group">
            {{#each userFeedback}}
            <a href="/feedback-page" class="list-group-item">
              <span class="name" style="min-width: 120px; display: inline-block;">Mark Otto</span>
              <span class="">{{ topic }}</span><span class="badge">12:10 AM</span>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
