<template name="feedbackList">
  <h3>Feedback and report messages</h3>
  <div class="row">
    {{#if haveFeedback}}
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <div class="list-group">
          {{#each userFeedback}}
          <div class="row list-group-item feedback-list-item">
            <div class="col-lg-1">
              <span class="badge">{{ messageType }}</span>
            </div>
            <div class="col-lg-3">
              <span class="author-name">{{niceName authorId}}</span>
            </div>
            <div class="col-lg-6">
              <span>{{ topic }}</span>
              <span class="text-muted feedback-preview">{{ message }}</span>
            </div>
            <div class="col-lg-2 col-lg-push-1">
              <a href="{{ pathFor route='feedbackPage' }}" class="btn btn-success btn-xs view-feedback">View</a>
              <button type="button" class="btn btn-danger btn-xs delete-feedback">Remove</button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{else}}
    <p>No feedback, yet.</p>
    {{/if}}
  </div>
</template>
