<template name="feedbackPage">
  <a href="/feedback-list"><i class="fa fa-arrow-left"></i> Back to list</a>
  {{#each userFeedback}}
  <h3>{{ topic }}</h3>
  <div class="feedback-message">
    <div class="row feedback-meta">
      <div class="col-lg-8">
        <span class="user-name">user@email.com</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p class="message-body">{{ message }}</p>
        <hr class="feedback-hr" />
      </div>
    </div>
  </div>
  {{/each}}
  <div class="feedback-answer">
    <div class="row">
      <div class="col-lg-8">
        <div class="form-group" data-required="true">
          <label class="control-label">Answer</label>
          <textarea rows="2" placeholder="Your message" name="message" class="form-control"></textarea>
        </div>
        <div id="form-buttons">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>
</template>

