<template name="feedbackPage">
  <h3>Feedback and report messages</h3>
  <div class="row">
    <div class="col-sm-9 col-md-10">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="name" style="min-width: 120px; display: inline-block;">Mark Otto</span>
              <span class="">Nice work on the lastest version</span><span class="badge">12:10 AM</span>
            </a>
            <a href="#" class="list-group-item">
              <span class="name" style="min-width: 120px; display: inline-block;">Jason Markus</span>
              <span class="">This is big title</span><span class="badge">12:09 AM</span>
            </a>
            <a href="#" class="list-group-item read">
              <span class="name" style="min-width: 120px; display: inline-block;">Jane Patel</span>
              <span class="">This is big title</span><span class="badge">11:30 PM</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
