<template name="feedbackPage">
  <div class="col-md-6">
    <div class="box box-widget">
      <div class="box-header with-border">
        <div class="user-block">
          <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
          <span class="description">Shared publicly - 7:30 PM Today</span>
        </div>
      </div>
      <div class="box-body">
        <p>Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at</p>
        <p>the coast of the Semantics, a large language ocean.
          A small river named Duden flows by their place and supplies
          it with the necessary regelialia. It is a paradisematic
          country, in which roasted parts of sentences fly into
          your mouth.</p>
      </div>
      <div class="box-footer box-comments">
        <div class="box-comment">
          <div class="comment-text">
            <span class="username">
              Maria Gonzales
              <span class="text-muted pull-right">8:03 PM Today</span>
            </span>
          </div>
        </div>
        <div class="box-comment">
          <div class="comment-text">
            <span class="username">
              Nora Havisham
              <span class="text-muted pull-right">8:03 PM Today</span>
            </span>
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English.
          </div>
        </div>
      </div>
      <div class="box-footer">
        <form action="#" method="post">
          <div class="img-push">
            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
