<template name="viewApiMetadata">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{# if api.currentUserCanManage }}
        {{> editApiMetadata metadata=metadata }}
      {{/ if }}
      <h2 id="metadata-title" class="panel-title clearfix">
        {{_ "viewApi_Metadata_Title" }}
      </h2>
    </div>
    <div class="panel-body">
      {{# if metadata }}
        <div class="row metadata-blocks">
          {{# with metadata }}
            {{# if contact }}
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">
                      {{_ "viewApi_Metadata_Contact_title" }}
                    </h2>
                  </div>
                  <div class="panel-body">
                    {{# if contact.name }}
                      <h3>
                        {{ contact.name }}
                      </h3>
                    {{/ if }}
                    {{# if contact.phone }}
                      <p>
                        <b>
                          {{_ "viewApi_Metadata_Contact_phone" }}:
                        </b>
                        &nbsp;
                        {{ contact.phone }}
                      </p>
                    {{/ if }}
                    {{# if contact.email }}
                      <p>
                        <b>
                          {{_ "viewApi_Metadata_Contact_email" }}:
                        </b>
                        &nbsp;
                        {{ contact.email }}
                      </p>
                    {{/ if }}
                  </div>
                </div>
              </div>
            {{/ if }}
            {{# if service }}
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">
                      {{_ "viewApi_Metadata_Service_title" }}
                    </h2>
                  </div>
                  <div class="panel-body">
                    {{# if service.name }}
                      <h3>
                        {{ service.name }}
                      </h3>
                    {{/ if }}
                    {{# if service.description }}
                      <p>
                        {{ service.description }}
                      </p>
                    {{/ if }}
                    {{# if service.validSince }}
                      <p>
                        <b>
                          {{_ "viewApi_Metadata_Service_validSince" }}:
                        </b>
                        &nbsp;
                        {{ service.validSince }}
                      </p>
                    {{/ if }}
                    {{# if service.validUntil }}
                      <p>
                        <b>
                          {{_ "viewApi_Metadata_Service_validUntil" }}:
                        </b>
                        &nbsp;
                        {{ service.validUntil }}
                      </p>
                    {{/ if }}
                    {{# if service.serviceLevelAgreement }}
                      <p>
                        <b>
                          {{_ "viewApi_Metadata_Service_serviceLevelAgreement" }}:
                        </b>
                        &nbsp;
                        {{ service.serviceLevelAgreement }}
                      </p>
                    {{/ if }}
                  </div>
                </div>
              </div>
            {{/ if }}
          {{/ with }}
        </div>
      {{ else }}
        <i>
          {{_ "viewApi_Metadata_NotFound" }}
        </i>
      {{/ if }}
    </div>
  </div>
</template>
