/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.api-catalogue-table {
  tbody > tr > td {
    vertical-align: middle;
  }
  .api-catalogue-table-logo img {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .api-card-bookmark {
    font-size: 1.1em;
  }
  .api-catalogue-table-title {
    margin-top: 0;
    display: inline;

  }
  .label {
    vertical-align: text-top;
    margin-right: .2em;
  }
  .api-catalogue-table-description {
    margin-top: 0.5em;
  }
}
