<template name="settingsMenu">
  <ul class="list-group">
    <a href="/profile" class="list-group-item">Profile<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="/account" class="list-group-item">Account<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    {{ # if isInRole 'admin' }}
      <a href="/branding" class="list-group-item">Branding<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    {{ / if }}
    <a href="/settings" class="list-group-item">Settings<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
    <a href="/settings/proxies" class="list-group-item">Proxies<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
  </ul>
</template>
