<template name="settingsMenu">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/settings/profile">Profile<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="/settings/account">Account<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="/settings">Settings<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
        <li><a href="setting/proxies">Proxies<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
      </ul>
    </div>
  </div>
</template>
