<template name="apiProxy">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "apiProxy_headerText" }}
      </h2>
    </div>
    <div class="panel-body">
      {{# autoForm collection=proxyBackendsCollection id="insertProxyBackend" type="insert"}}
        {{> afQuickField name="proxyId" value=proxy._id }}
        {{> afQuickField name="apiId" value=api._id }}
        {{> afQuickField name="apiUmbrella.name" value=api.name }}
        {{> afQuickField name="apiUmbrella.frontend_host" value=proxy.apiUmbrella.url }}
        {{> afQuickField name="apiUmbrella.backend_host" value=api.url }}
        {{> afQuickField name="apiUmbrella.backend_protocol" type="select" options="allowed" }}
        {{> afQuickField name="apiUmbrella.url_matches" }}
        {{> afQuickField name="apiUmbrella.servers" }}
      {{/ autoForm }}
    </div>
  </div>
</template>
