<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardOverviewStatisticNoData">
  <div class="row overview-line">
    <div class="col-xs-12 col-md-3">
      <p class="overview-col-title">
        {{ proxyBackend.apiName }}
      </p>
      <p>
        {{_ 'dashboardOverviewStatistic_text_requestPath' path=proxyBackend.frontendPrefix }}
      </p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p class="overview-col-title">
        {{_ 'dashboardOverviewStatistic_chartTitle_requestsNumber' }}
      </p>
      <p>
        {{_ 'dashboardOverviewStatisticNoData_text_noDataAvailable' }}
      </p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p class="overview-col-title">
        {{_ 'dashboardOverviewStatistic_chartTitle_responseTime' }}
      </p>
      <p>
        {{_ 'dashboardOverviewStatisticNoData_text_noDataAvailable' }}
      </p>
    </div>
    <div class="col-xs-12 col-md-3">
      <p class="overview-col-title">
        {{_ 'dashboardOverviewStatistic_chartTitle_uniqueUsers' }}
      </p>
      <p>
        {{_ 'dashboardOverviewStatisticNoData_text_noDataAvailable' }}
      </p>
      <a href="{{ pathFor 'apiAnalyticPage' proxyBackendId=proxyBackend._id }}" class="pull-right">
        {{_ 'dashboardOverviewStatistic_linkText_viewDetails' }}
      </a>
    </div>
  </div>
</template>
