<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardOverviewStatistic">
  <div class="overview-body" data-overview-id="{{ dataset.proxyBackendId }}">
    <div class="row overview-line">
      <div class="col-xs-12 col-md-3">
        <p class="overview-col-title">
          {{ dataset.apiName }}
        </p>
        <div class="form-group">
          <p>
            {{_ 'dashboardOverviewStatistic_text_requestPath' path=prefix }}
          </p>
          <p class="text-success">
            {{_ 'dashboardOverviewStatistic_text_successCalls' count=dataset.successCallsCount }}
          </p>
          <span class="text-danger">
            {{ errorCallsText dataset.errorCallsCount }}
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="overview-col-title">
          {{_ 'dashboardOverviewStatistic_text_requestsCount' count=dataset.requestNumber}}
        </p>
        <div class="form-group">
          <span class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_chartTitle_requestsNumber' }}
          </span>
          {{> requestsOverTime
            chartData=(getChartData 'requests')
            proxyBackendId=dataset.proxyBackendId
            dateFormat=dateFormat
          }}
          <i class="mdi mdi-{{ arrowDirection 'requests' }}"></i>
          <span>{{ overviewComparing 'requests' }}</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="overview-col-title">
          {{_ 'dashboardOverviewStatistic_text_responseTime' time=dataset.medianResponseTime }}
        </p>
        <div class="form-group">
          <span class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_chartTitle_responseTime' }}
          </span>
          {{> medianResponseTime
            chartData=(getChartData 'time')
            proxyBackendId=dataset.proxyBackendId
            dateFormat=dateFormat
          }}
          <i class="mdi mdi-{{ arrowDirection 'time' }}"></i>
          <span>{{ overviewComparing 'time' }}</span>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <p class="overview-col-title">
          {{_ 'dashboardOverviewStatistic_text_usersCount' count=dataset.avgUniqueUsers }}
          {{# if displayTextAverageUsers }}
              <sup>*</sup>
          {{/ if }}
        </p>
        <div class="form-group">
          <span class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_chartTitle_uniqueUsers' }}
          </span>
          {{> uniqueUsersOverTime
            chartData=(getChartData 'users')
            proxyBackendId=dataset.proxyBackendId
            dateFormat=dateFormat
          }}
          <i class="mdi mdi-{{ arrowDirection 'users' }}"></i>
          <span>{{ overviewComparing 'users' }}</span>

          <!-- For "Today" metrics for Users is not average, not display it -->
          {{# if displayTextAverageUsers }}
            <div class="overview-help-text">
              <sup>*</sup> {{_ 'dashboardOverviewStatistic_helpText_averageUniqueUsers' }}
            </div>
          {{/ if }}
        </div>

        <a href="{{ pathFor 'apiAnalyticPage' apiSlug=dataset.apiSlug }}" class="pull-right">
          {{_ 'dashboardOverviewStatistic_linkText_viewDetails' }}
        </a>
      </div>
    </div>
  </div>
</template>
