<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="dashboardOverviewStatistic">
  {{# with bucket }}
    <div class="overview-body" data-overview-id="{{ proxyBackendId }}">
      <div class="row overview-line">
        <div class="col-xs-12 col-md-3">
          <p class="overview-col-title">
            {{ apiName }}
          </p>
          <div class="form-group">
            <p>
              {{_ 'dashboardOverviewStatistic_text_requestPath' path=requestPath }}
            </p>
            <p class="text-success">
              {{_ 'dashboardOverviewStatistic_text_successCalls' count=successCallsCount }}
            </p>
            <span class="text-danger">
              {{_ 'dashboardOverviewStatistic_text_errorCalls' count=errorCallsCount }}
            </span>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_text_requestsCount' count=requestNumber }}
          </p>
          <div class="form-group">
            <span class="overview-col-title">
              {{_ 'dashboardOverviewStatistic_chartTitle_requestsNumber' }}
            </span>
            {{> requestsOverTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            <div class="{{ arrowDirection 'requests' }}"></div>
            <span>{{ overviewComparing 'requests' }}</span>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_text_responseTime' time=responseTime }}
          </p>
          <div class="form-group">
            <span class="overview-col-title">
              {{_ 'dashboardOverviewStatistic_chartTitle_responseTime' }}
            </span>
            {{> averageResponseTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            <div class="{{ arrowDirection 'time' }}"></div>
            <span>{{ overviewComparing 'time' }}</span>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <p class="overview-col-title">
            {{_ 'dashboardOverviewStatistic_text_usersCount' count=uniqueUsers }}
          </p>
          <div class="form-group">
            <span class="overview-col-title">
              {{_ 'dashboardOverviewStatistic_chartTitle_uniqueUsers' }}
            </span>
            {{> uniqueUsersOverTime buckets=requestOverTime proxyBackendId=proxyBackendId }}
            <div class="{{ arrowDirection 'users' }}"></div>
            <span>{{ overviewComparing 'users' }}</span>
          </div>

          <a href="{{ pathFor 'apiAnalyticsPage' proxyBackendId=proxyBackendId }}" class="pull-right">
            {{_ 'dashboardOverviewStatistic_linkText_viewDetails' }}
          </a>
        </div>
      </div>
    </div>
  {{/ with }}
</template>
