/* Bootstrap */
@import "/client/style/bootstrap-variables.less";

.card-api-status {
  color: @brand-success;
  font-size: 10px;
  position: relative;
  right: 0.3em;
  top: 0.2em;
}

.api-card {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 0.5em;
  float: left;
  width: 240px;
  height: 180px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: inline-block;
}

.api-card:last-child {
  margin-right: 0
}

.api-card-name {
  display: block;
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  font-weight: bold;
}

.api-card-author {
  display: block;
  font-size: 1em;
  color: darkgrey;
}

.api-card-logo {
  padding: 0.5em;
  padding-left: 0.5em;
  float: left;

  img {
    max-height: 50px;
    max-width: 50px;
    background: transparent;
  }
}

.api-card-bookmark {
  margin-top: 0.5em;
  text-align: center;

  .api-card-bookmark-number {
    display: block;
    color:#2FA4E7;
  }
}

.api-card-description {
  margin-top: 1.3em;
  font-size: 0.9em;
  color: #444;
  height: 5.5em;
  overflow: hidden;
}

.api-card-created {
  color: #666;
  font-size: 11px;
  margin-right: 0.3em;
}

.api-card-info {
  margin-left: 4.8em;
  margin-top: 0.3em;
  margin-right: 0.6em;
  margin-right: 0.3em;
}

.bookmark {
  cursor: pointer;
  color: @brand-primary;
}

.api-catalogue {
  float: left;
  position: relative;
  left: 0%;
}

.api-cards {
  float: left;
  position: relative;
  left: 0%;
}

.api-cards::after {
  content: '';
  display: block;
  clear: both;
}
