<template name="viewApiBackendNavigationMenu">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#api-backend-details" data-toggle="tab">
          <i class="fa fa-info-circle"></i>
          {{_ "viewApiBackendNavigationMenu_details" }}
        </a>
      </li>
      <li>
        <a href="#api-backend-documentation" data-toggle="tab">
          <i class="fa fa-file-text"></i>
          {{_ "viewApiBackendNavigationMenu_documentation" }}
        </a>
      </li>
      <li>
        <a href="#api-backend-metadata" data-toggle="tab">
          <i class="fa fa-book"></i>
          {{_ "viewApiBackendNavigationMenu_metadata" }}
        </a>
      </li>
      <li>
        <a href="#api-backend-feedback" data-toggle="tab">
          <i class="fa fa-comments-o"></i>
          {{_ "viewApiBackendNavigationMenu_feedback" }}
        </a>
      </li>
      <li>
        <a href="#api-backend-backlog" data-toggle="tab">
          <i class="fa fa-check-square-o"></i>
          {{_ "viewApiBackendNavigationMenu_backlog" }}
        </a>
      </li>
      <li>
        <a href="#api-backend-export" data-toggle="tab">
          <i class="fa fa-cloud-download"></i>
          {{_ "viewApiBackendNavigationMenu_export" }}
        </a>
      </li>
    </ul>
  </div>
</template>
