/* Copyright 2018 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

#regenerate-api-key {
  margin-top: 2em;
  background-color: transparent;
  color: rgb(204, 20, 16);
  font-weight: 400;
  display: block;
}

#regenerate-api-key:focus, #regenerate-api-key.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: transparent;
  font-weight: 500;
}

.mdi-content-copy {
  cursor: pointer;
  color: lighten(#37474F, 30%);
}

.mdi-content-copy:hover {
  cursor: pointer;
  color: #37474F;
}
