/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

/* Bootstrap */
@import "/apinf_packages/core/client/style/bootstrap-variables.less";

.secondary-menu-block {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(108,133,159,.3);
}

.page-head-topblock {
  margin-bottom: 1.2em;
  color: #666;

  #api-header {
    font-size: 1.7em;
    margin-top: 0;
  }

  .view-api-meta-details {
    margin-top: 0.5em;
  }

  .label {
    font-size: 83%;
  }
}

.page-head-infoblock {
  clear: both;
  display: inline-block;
}

.api-page-header {
  .label {
    color: #5c617b;
    border: 1px solid #C1C7CD;
    font-weight: 400;
    background-color: transparent;
    margin-left: 5px;
    font-size: 10px;
    text-transform: uppercase;
    padding: .1em .4em .1em;
    bottom: 2px;
    position: relative;
  }

  .mdi-lock {
    display: initial;
    color: #66757f;

    &:hover {
      color: #4c6072;
    }
  }

  a.organization-name {
    color: rgb(55,71,79);
    line-height: 27px;
    font-weight: 400;
    margin-left: 5px;
  }

  a.organization-name:link:hover,
  a.organization-name:visited:hover {
    color: rgb(55,71,79);
    border-bottom: 1px solid rgba(55,71,79,.3);
  }

  .path-divider {
    font-weight: 400;
  }

  .secondary-menu_navigation {
    padding-right: 0;
    height: auto;
  }
}


.page-head-bookmarks {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-radius: 3px;

  .bookmark-button {
    display: inline-block;
    font-weight: bold;
    line-height: 0.9em;
  }

  .bookmark-counter {
    padding-left: 0.4em;
    padding-right: 0.6em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    color: #333;
    background-color: #fff;
  }

  .pin-button {
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    display: inline-block;
    font-weight: bold;
    line-height: 0.9em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

}

@media (max-width: 767px) {
  .api-settings .nav-tabs > li > a {
    padding-bottom: 5px !important;
    margin-bottom: 10px;
  }

  .secondary-menu-block {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .api-page-header {
    .label {
      display: none;
    }
  }
}

nav.secondary-menu_navigation {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}

nav.secondary-menu_navigation h1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding: 0 1rem;
}

ul.links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
  list-style-type: none;
  border: none;
  margin-bottom: 0;
}

ul.links > li {
  flex: none;
  padding: 1.5rem;
}

ul.links > li > a {
  border: none;
  letter-spacing: 0.3px;
  color: rgb(102, 117, 127);
  font-size: 1.4rem;
  position: relative;
  line-height: 30px;
}

ul.links > li.active > a,
ul.links > li.active > a:focus,
ul.links > li.active > a:hover {
  border-width: 0;
}

ul.links > li.active > a,
ul.links > li > a:hover {
  border: none;
  color: #37474F !important;
  background: transparent;
}

ul.links > li > a::after {
  content: "";
  background: #37474F;
  height: 3px;
  position: absolute;
  width: 100%;
  top: 36px;
  right: 0;
  transition: all 250ms ease 0s; transform: scale(0);
}

ul.links > li.active > a::after,
ul.links > li:hover > a::after {
  transform: scale(1);
}

// mobile //
nav.secondary-menu_navigation button {
  align-self: stretch;
  transition: all .4s ease-out;
  padding: 0 1rem 0 1.5rem;
  outline: 0;
  border: 0;
  font-size: 1rem;
  color: #4c6072;
}

nav.secondary-menu_navigation button.hidden {
  transition: none;
  border-right: 0.5rem solid #b6b6b6;
  width: 0;
  padding: 0;
  overflow: hidden;
}

nav.secondary-menu_navigation button::after {
  content: attr(count);
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #4c6072;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
}

ul.hidden-links {
  position: absolute;
  background: #fff;
  right: 0;
  top: 100%;
  list-style-type: none;
  padding-left: 0;
  box-shadow: 0 1px 3px 0 rgba(59, 59, 88, 0.15);
  z-index: 1;
}

ul.hidden-links li a {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #37474F;
}

ul.hidden-links > li > a:hover,
ul.hidden-links > li > a:focus {
  color: #37474F;
  text-decoration: underline;
  background-color: #fff;
  border-radius: 4px;
}

ul.hidden-links.hidden {
  display: none;
}

ul.hidden-links li {
  padding: 1.5rem;
}

#api-menu {
  height: auto;
  ul.links {
    justify-content: flex-start;
    padding-left: 0;
    margin-left: -1.5rem;
  }
}
