<template name="apiLifecycleStatus">
    <div class="pull-right">
      {{# unless editMode }}
      <span class="label label-{{ labelType }}">
        {{ lifecycleStatus }}
      </span>
        {{# if api.currentUserCanEdit }}
        &nbsp;
        <button
          type="button"
          id="edit-api-lifecycle-status"
          class="btn btn-default btn-xs">
          <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
        </button>
        {{/ if }}
      {{/ unless }}

      <!-- edit mode form -->
      {{# if editMode }}
        {{> quickForm
          id="lifecycleStatus"
          type="update"
          template="bootstrap3-inline"
          collection=apisCollection
          doc=api
          fields=lifecycleStatusField
          label-class="sr-only"
        }}
      {{/ if }}
    </div>
</template>
