<template name="viewApiBackendDetails">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title clearfix">
        {{_ "view_ApiBackend_Details_Title"}}
      </h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12 api-details-block">
          {{ # if api.description }}
          <h3>Description</h3>
          <p>
            {{ api.description }}
          </p>
          <hr class="panel-hr" />
          {{ / if }}
          <h3>Base URL</h3>
          <div class="input-group">
            <input
            type="text"
            class="form-control"
            id="api-url"
            value="{{ api.url }}">
            <span class="input-group-btn">
              <button
              class="btn btn-default"
              id="copyApiUrl"
              type="button"
              data-original-title="Copied!"
              data-clipboard-target="#api-url">
              <i class="fa fa-clipboard" alt="Copy to clipboard"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title clearfix">
      Usage Instruction
    </h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 api-details-block">
        <p>
          When available, click on Get API Key button to generante your personal key for the API Use, You can always click on Copy API Key button to retrieve the key for further usage.
          <br />
          Copy the Base URL to start using the API.
        </p>
        <p>
          Click on the Test button below to make a test call. A new browser tab will open along with the Base URL and API Key.
          <br />
          <br />
          <a
          href="#path-with-frontend-prefix-and-api-key"
          class="btn btn-success">
          API test call
        </a>
      </p>
    </div>
  </div>
</div>
</div>
</template>
