/* Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 */

.view-api-logo {
  max-width: 45px;
  max-height: 45px;
  border-radius: 3px;
}
