<!-- Copyright 2017 Apinf Oy
This file is covered by the EUPL license.
You may obtain a copy of the licence at
https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11 -->

<template name="viewApiLogo">
  <a href="{{ pathFor 'viewApi' slug=api.slug }}" title="{{ api.name }}">
    {{# if api.logo }}
      <img class="view-api-logo" src="{{ api.logoUrl }}"/>
    {{ else }}
      <img class="view-api-logo" src="/img/placeholder-logo.jpg"/>
    {{/ if }}
  </a>
</template>
