<template name="apiBackends">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      {{#autoForm collection="ApiBackends" doc=this id="apiBackends"}}
      {{> afQuickField name='name'}}
      <div class="row">
        <div class="col-lg-3">
          {{> afQuickField name='backend_protocol' options="allowed"}}
        </div>
        <div class="col-lg-6">
          {{> afQuickField name='backend_host'}}
        </div>
        <div class="col-lg-3">
          {{> afQuickField name='backend_port'}}
        </div>
      </div>
      {{> afQuickField name='frontend_host'}}
      {{> afQuickField name='server'}}
<!-- TODO: show fields inline
      <form>
        <div class="form-inline">
          {{> afQuickField name='matching'}}
        </div>
      </form>
-->
      {{> afQuickField name='matching'}}
      <h4>Global Request Settings</h4>
      {{> afQuickField name='append_query_string'}}
      {{> afQuickField name='set_headers'}}
      {{> afQuickField name='http_basic_auth'}}
      {{> afQuickField name='require_https' options="allowed"}}
      {{> afQuickField name='api_key_verification_level' options="allowed"}}
      {{> afQuickField name='required_roles' options="allowed"}}
      {{/autoForm}}
    </div>
  </div>
</template>
